.message {
  padding: 8px;
  margin-bottom: 15px;
  background: #fff8dc;
  border: 1px solid #ffd700;
  color: #666666;
  font-size: 12px;
}

.typeLabel {
  font-weight: bold;
  color: #646464;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px;
}

.buttonGroup .button {
  width: 50%;
  padding: 10px;
  border: 1px solid #e1e1e1;
  background-image: linear-gradient(to bottom, #fffffa, #f4f4f4);
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.buttonGroup .button:hover {
  border: 1px solid #cccccc;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox {
  flex-direction: column;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.avatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  background-image: url('../../../public/logo_server_def.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputDescription {
  margin-top: 3px;
  color: #666666;
  font-size: 12px;
}

.labelText:after {
  content: '：';
}
