.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
}

.body .userProfileContent {
  padding: 5px 15px;
}

.body .userRecentVisitsPrivate {
  background: url('../../../public/card/bg_list_tips.png') center center no-repeat;
  background-size: auto;
  height: 76px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #436da1;
  text-align: center;
}

.body:has(.joinedServers) {
  max-height: 450px;
}

.body .serverItems {
  max-height: 320px;
}

.userAboutMeShow {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  color: #6d6d6d;
  padding: 10px 15px;
}

.userAboutMeShow::before,
.userAboutMeShow::after {
  content: '';
  min-height: 19px;
  min-width: 23px;
  display: block;
  background-size: cover;
}

.userAboutEmpty .userAboutMeShow {
  display: none;
}

.userAboutEmpty {
  justify-content: flex-start;
}

.userAboutMeShow::before {
  background-image: url('../../../public/card/bg_left_quote.png');
  background-repeat: no-repeat;
  margin-bottom: 6rem;
}

.userAboutMeShow::after {
  background-image: url('../../../public/card/bg_right_quote.png');
  background-repeat: no-repeat;
  margin-top: 6rem;
}

.userAboutMeShowText {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.left {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 145px;
  min-height: 0;
  background-image: url('../../../public/setting_left_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid #b4dbec;
}

.tabs {
  height: 100%;
  width: 145px;
  display: flex;
  flex-direction: column;
}

.tabs .item {
  width: 100%;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #fff0;
  border-bottom: 1px solid #fff0;
  border-right: 1px solid #fff0;
}

.tabs .item:first-child {
  margin-top: 15px;
}

.tabs .item.active {
  border-top: 1px solid #b4dbec;
  border-bottom: 1px solid #b4dbec;
  border-right: 1px solid #fff0;
  background-color: #f7f7f7;
  width: 145px;
}

.right {
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.headerBar {
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-left: 20px;
}

/* Basic Info Section */

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 30%;
}

.avatarPicture {
  position: relative;
  cursor: pointer;
  object-fit: cover;
  min-width: 100px;
  min-height: 100px;
  background-image: url('../../../public/logo_server_def.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.avatarPicture::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 99;
  min-width: 102px;
  min-height: 102px;
}

.wealthCoinIcon {
  display: flex;
  align-items: center;
}

.wealthCoinIcon::after {
  content: '';
  height: 16px;
  width: 16px;
  display: block;
  background-image: url('../../../public/golden_pea.png');
  background-size: cover;
  margin-left: 3px;
}

.saperator {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  margin: 20px 0;
}

.memberName {
  color: #6e849b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.noteText {
  text-align: right;
  margin-top: 3px;
}

.searchBorder {
  width: max-content;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background: #fff;
}

.searchIcon {
  height: 17px;
  width: 17px;
  background-image: url('../../../public/channel/channel_search.png');
  background-size: cover;
  background-position: 0 0;
  margin-left: 5px;
}

.searchBorder:hover:not(:has(.searchPrev:hover, .searchNext:hover)) .searchIcon {
  background-position: -17px 0;
}

.searchInput {
  width: 100%;
  padding: 5px;
  height: 25px;
  border: 0;
  box-shadow: none;
}

.checkBox {
  display: flex;
}

.headerTextBox {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

.previewModeArea {
  border: 1px solid #ddd;
  padding: 2px;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4rem;
  resize: none;
  overflow-y: scroll;
}

/* User Profile */
.userProfile {
  flex: unset;
  height: 100%;
  justify-content: space-between;
  background-image: unset !important;
}

.userProfile .profileBox {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.userProfile .header {
  position: relative;
  min-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('../../../public/im/wallpaper.png');
  background-size: cover;
  gap: 3px;
  padding-bottom: 38px;
  -webkit-app-region: drag;
}

.userProfile .header div:not(.tab, .tab div),
.userAboutMeShow,
.userRecentVisitsPrivate {
  user-select: text;
}

.windowActionButtons {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  top: 10px;
}

.minimizeBtn,
.closeBtn {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: 0 0;
  cursor: pointer;
  background-size: cover;
}

.minimizeBtn {
  background-image: url('../../../public/im/btn-min.png');
  background-repeat: no-repeat;
}

.closeBtn {
  background-image: url('../../../public/im/btn-close.png');
  background-repeat: no-repeat;
}

.minimizeBtn:hover,
.closeBtn:hover {
  background-position: -13px 0;
}

.minimizeBtn:active,
.closeBtn:active {
  background-position: -26px 0;
}

.userProfile .avatar {
  position: relative;
  min-width: 74px;
  min-height: 74px;
  object-fit: cover;
  display: inline-block;
  background-image: url('../../../public/im/IMLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.userProfile .avatar.editable {
  cursor: pointer;
}

.userProfile .avatar.editable:hover {
  box-shadow: 0 0 3px 6px rgb(255 255 255 / 100%);
  border-radius: 3px;
}

.userProfile .avatar.editable:hover::after {
  display: none;
}

.windowActionButtons,
.vipIcon,
.userAccount,
.userContent,
.userSignature,
.avatar,
.noDrag,
.tab div,
.userRecentVisitsPrivate {
  -webkit-app-region: no-drag;
}

.userProfile .avatar::after {
  position: absolute;
  content: '';
  top: -7px;
  left: -7px;
  width: 88px;
  height: 88px;
  background-image: url('../../../public/im/avatar_border.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.userProfile .userName {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.userProfile .userAccount {
  font-size: 1em;
  color: #fff;
}

.userProfile .userContent {
  font-size: 1em;
  color: #fff;
}

.userProfile .userSignature {
  color: #fff;
  width: 30rem;
  font-size: 0.95em;
  overflow-y: scroll;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.userProfile .userSignature:hover::-webkit-scrollbar-thumb {
  background: rgb(255 255 255);
  border-radius: 4px;
  border: 1px solid #fff;
}

.userProfile .tab {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
}

.userProfile .tab .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 50%;
  padding-bottom: 6px;
  gap: 5px;
  cursor: pointer;
  background-image: url('../../../public/im/userpage_tab.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: 0 0;
}

.userProfile .tab .item.selected {
  background-position: 0 -38px;
}

.userProfile .tab .item.editable {
  cursor: not-allowed;
}

.userProfile .tab .item.about::before {
  content: '';
  min-height: 14px;
  min-width: 13px;
  background-image: url('../../../public/im/icon-about.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.userProfile .tab .item.groups::before {
  content: '';
  min-height: 14px;
  min-width: 18px;
  background-image: url('../../../public/im/icon-group.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* ServerItem */
.serverItems {
  padding: 5px 0;
  max-height: 270px;
  overflow-y: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 0.5rem;
}

.serverItem {
  background: #ededed;
  border: 1px solid #fff0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: calc(50% - 2.5px);
  padding: 5px;
  cursor: pointer;
  align-items: center;
}

.serverItem:hover {
  background: #e9e9e9;
  border: 1px solid #bfbfc0;
}

.serverItem .serverAvatarPicture {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.serverBox {
  flex-direction: column;
  flex: 1;
  gap: 5px;
  display: flex;
  overflow: hidden;
  min-height: 33px;
  justify-content: space-between;
}

.serverName {
  font-size: 1em;
  line-height: 1rem;
  color: rgb(95 95 95);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.serverInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.serverInfo.around {
  justify-content: space-between;
}

.serverInfo .permission {
  justify-items: flex-start;
}

.serverInfo .contributionBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.serverInfo .contributionBox div {
  color: #888;
}

.contributionIcon {
  margin: 0 2px;
  min-width: 12px;
  min-height: 12px;
  background-image: url('../../../public/card/icon_contribu.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.contributionValue {
  color: #777;
  min-width: 2.5rem;
}

.displayId {
  color: #6d6d6d;
}

.isOwner::before {
  display: block;
  content: '';
  width: 13px;
  height: 15px;
  margin-right: 5px;
  background-image: url('../../../public/icon_creator.png');
  background-size: contain;
  background-position: 0 0;
}

.id::before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 2px;
  background-image: url('../../../public/card/icon_id.jpg');
  background-size: contain;
  background-position: 0 0;
}

/* Edit Tab Bar */
.editTabBar {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 45px;
  background: linear-gradient(to bottom, #fff, #f2f7f9);
  border-bottom: 1px solid #f1f1f1;
}

/* User Badges */
.badgeViewer {
  display: flex;
  gap: 0.25rem;
  height: 30px;
  align-items: center;
  border: 1px solid #d7d7d7;
  padding: 5px;
  background: #e8e8eb;
  margin-top: 1rem;
}

.inputBox {
  display: flex !important;
  align-items: center;
}

.emojiBox {
  height: 40px;
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
}

.emojiBoxVisible {
  display: flex;
}

.emojiBox::before {
  content: '';
  background-image: url('../../../public/channel/spliter.png');
  height: 14px;
  width: 1px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.inputArea {
  width: 100%;
  height: 1.5rem;
  overflow: hidden scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
