.content {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  overflow-y: scroll;
  gap: 5px;
}

.header {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  z-index: 1;
}

.all-cancel-text {
  cursor: pointer;
}

.all-cancel-text:hover {
  color: #666;
}

.all-cancel-text:active {
  color: #999;
}

.body {
  width: 100%;
  flex: 1;
}

.application {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.user-name-text {
  font-weight: bold;
}

.time-text {
  color: #666;
}

.avatar-picture {
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url('/im/SecretaryLogo.png');
  background-size: cover;
  background-position: center;
  border: 1px solid #969696;
  margin-right: 15px;
}

.application-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  border: 1px solid #d8d8d8;
  background-color: #f6f6f6;
  border-radius: 0.1rem;
  padding: 0.5rem;
}

.content-text {
  display: flex;
  flex-flow: column wrap;
  color: #5e5e5e;
  max-width: 21.5rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.action-buttons {
  display: flex;
  cursor: pointer;
}

.action-buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: #fbfbfb;
  border: 1px solid #9d9e9f;
  border-top: 1px solid #9d9e9f;
  border-bottom: 1px solid #9d9e9f;
  height: 23px;
}

.action-buttons .button:last-child {
  border-right: 1px solid #9d9e9f;
}

.action-buttons .button:hover {
  background-color: #fbfbfb;
  border-color: #666;
}

.action-buttons .button:active {
  background-color: #e8e8e8;
  border-color: #9f9f9f;
}

.direct-message-button {
  height: 27px;
  width: 27px;
  cursor: pointer;
}

.direct-message-icon {
  background-image: url('/icon_notice_chat.png');
  background-size: auto;
  background-position: center;
  background-position: 0 0;
  height: 100%;
  width: 100%;
}

.direct-message-icon:hover {
  background-position: -30px 0;
}

.direct-message-icon:active {
  background-position: -60px 0;
}
