.item {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 3px;
}

.item.selected {
  background-color: var(--selected);
}

.item:not(.selected):hover {
  background-color: var(--hover);
}

.name-text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  white-space: nowrap;
}

.name-text.vip {
  color: var(--text-vip-name);
}

.signature-text {
  max-width: 100%;
  min-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-quaternary);
  white-space: nowrap;
  user-select: none;
}

.server-name-text {
  min-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  color: #3a9abe;
  white-space: nowrap;
}

.location-icon {
  width: 16px;
  height: 18px;
  content: '';
  background-image: url('/mylocation.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.avatar {
  position: relative;
  width: 40px;
  height: 40px;
}

.avatar::before {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  width: 42px;
  height: 42px;
  content: '';
  background-image: url('/win_border.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.avatar::after {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  content: '';
  background-image: url('/user_state.svg');
  background-repeat: no-repeat;
  background-position: 0 0 !important;
}

.avatar[datatype='']::after {
  background-image: none;
}

.avatar[datatype='online']::after {
  background-position: 0 0 !important;
}

.avatar[datatype='dnd']::after {
  background-position: -13px 0 !important;
}

.avatar[datatype='idle']::after {
  background-position: -26px 0 !important;
}

.avatar[datatype='gn']::after {
  background-position: -39px 0 !important;
}

.base-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  overflow: hidden;
}

.detail-row {
  display: flex;
  gap: 2px;
  align-items: center;
}

.detail-row.has-server {
  cursor: pointer;
}
