# Server Settings
API_URL=http://localhost:4500 # Do not include the trailing slash
WS_URL=http://localhost:4500 # Use the same URL if your server runs locally

# Static Files Settings
DOCS_BASE_URL=https://your-host # Base URL of the static files server 
I18N_BASE_URL=https://your-host # Base URL of the static i18n server, files are fetched from {I18N_BASE_URL}/{lng}/{ns}.json

# Error Submission URL (Optional)
ERROR_SUBMISSION_URL=https://error-submission.example.com # If not provided, errors will not be submitted