.user-tab {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  height: 25px;
  padding: 2px 20px 2px 10px;
  margin-right: 5px;
  text-shadow: 0 1px #fff;
}

.user-tab:not(.selected):hover {
  background-color: var(--hover);
}

.user-tab.selected {
  background-color: var(--selected);
}

.user-queue-position {
  color: var(--text-color-quaternary);
}

.user-tab-name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-quaternary);
  white-space: nowrap;
}

.user-tab-name.member {
  color: var(--text-nickname);
}

.user-audio-state {
  left: 0;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/audioState.webp');
  background-repeat: no-repeat;
  background-position: -36px 0;
  background-size: auto;
}

.user-audio-state.loading {
  background-image: url('/loading.gif');
  background-position: 0 0;
  background-size: cover;
}

.user-audio-state.play {
  background-position: -24px 0;
}

.user-audio-state.muted {
  background-position: -12px 0;
}

.user-text-state {
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/audioState.webp');
  background-repeat: no-repeat;
  background-position: -36px 0;
  background-size: auto;
}

.user-text-state.muted {
  background-position: 0 0;
}