.app-logo {
  background-image: url('/login_logo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 226px;
  min-height: 54px;
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  overflow: scroll;
  gap: 10px;
}

.app-info {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.app-version-text {
  font-weight: bold;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

.copyright-text {
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

.team-members {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: fit-content;
  padding: 10px;
  border: 1px solid var(--border);
  box-shadow: inset 0 1px 5px rgb(0 0 0 / 10%);
}

.team-member-card {
  display: flex;
  align-items: center;
  margin-top: 3px;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  transition: background-color 0.3s ease;
}

.team-member-card:hover {
  background-color: var(--hover);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  line-height: 1.4;
}

.team-list-textarea {
  width: 100% !important;
  height: 100% !important;
  border: none;
  resize: none;
}

.staff-title {
  background-color: rgb(115 164 213 / 70%);
  color: #fff;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 8px;
  display: inline-block;
  min-width: 7em;
  text-align: center;
}

.icon-wrapper svg {
  vertical-align: middle;
  transition: color 0.3s ease;
}

.ricecall-id {
  color: var(--text-link);
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 8px;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.github-icon-link:hover svg {
  color: rgb(70 70 70);
}

.discord-icon-link:hover svg {
  color: #7289da;
}

.color-1 {
  background-color: rgb(216 63 63 / 80%);
}

.color-2 {
  background-color: rgb(77 173 147 / 80%);
}

.color-3 {
  background-color: rgb(216 166 63 / 80%);
}

.color-4 {
  background-color: rgb(63 166 216 / 80%);
}