.announcement-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
}

.announcement-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 0 1px 1px #00000080;
}

.announcement-tab {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  font-weight: bold;
  color: var(--text-color-quaternary);
  transition: color 0.1s ease;

  &::after {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    content: '';
    border-bottom: 2px solid #e72525;
    transition: all 0.1s ease;
  }

  &.active::after {
    left: 0;
    width: 100%;
  }

  &.active {
    color: #e72525;
  }
}

.announcement-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: auto;
  font-weight: bold;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 0 1px 1px #00000080;
}

.announcement-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: var(--text-color-quaternary);
  cursor: pointer;
  border-bottom: 1px solid var(--border);

  &:hover {
    background-color: var(--hover);
  }
}

.announcement-type {
  width: fit-content;
  min-width: 50px;
  padding: 5px;
  color: var(--text-color-quaternary);
  text-align: center;
  background-color: var(--hover);
  border: 1px solid var(--border);
  border-radius: 5px;

  &[data-category='general'] {
    color: #005cbf;
    background-color: #e7f3ff;
    border-color: #005cbf;
  }

  &[data-category='update'] {
    color: #c85a17;
    background-color: #fff0e6;
    border-color: #c85a17;
  }

  &[data-category='system'] {
    color: #e72525;
    background-color: #fae6e6;
    border-color: #e72525;
  }

  &[data-category='event'] {
    color: #1e7e34;
    background-color: #e6ffed;
    border-color: #1e7e34;
  }
}

.announcement-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.announcement-date {
  min-width: 100px;
}

.announcement-detail-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  animation: visibility 0.2s ease-in-out;
}

.announcement-detail-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  padding: 10px;
  overflow-y: auto;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 0 1px 1px #00000080;
  animation: fade-in 0.2s ease-in-out;
}

@keyframes visibility {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.announcement-detail-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--border);
}

.announcement-detail-title {
  flex: 5;
  align-items: flex-start;
  font-size: 1.2rem;
}

.announcement-datail-date {
  flex: 1;
  font-size: 0.8rem;
  color: #999;
  text-align: right;
}

.announcement-detail-content {
  flex: 1;
  padding: 10px;
}