.badge-info-card {
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-height: 145px;
  width: 300px;
  gap: 10px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
}

.badge-info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.badge-avatar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75px;
}

.badge-avatar-box .badge-image {
  display: flex;
  align-items: center;
  height: 64px;
  width: 64px;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.badge-avatar-box .badge-rarity-text {
  color: var(--text-vip-name);
  margin-top: 8px;
}

.badge-description-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  gap: 10px;
}

.badge-description-box .badge-name {
  color: var(--text-color-quaternary);
  font-size: 1.1em;
  font-weight: bold;
}

.badge-description-box .badge-description {
  color: var(--text-color-quaternary);
}

.badge-show-time {
  width: 100%;
  color: var(--text-color-quaternary);
}