.badge-viewer-wrapper {
  display: flex;
  gap: 2px;
}

.badge-image {
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: auto;
  cursor: pointer;
}
