.badge-viewer-wrapper {
  display: flex;
  gap: 2px;
  &.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(17px, 1fr));
    grid-auto-rows: 17px;
  }
}

.badge-image {
  width: 17px;
  height: 17px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: auto;
}
