.options-viewer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 45px;
  border-bottom: 1px solid var(--border);
}

.options-viewer .option-tab {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--text-color-quinary);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.options-viewer .option-tab.active {
  color: var(--text-color-quaternary);
  transform: translateY(-1px);
}

.options-viewer .option-tab.active::before {
  background-position: 0 -18px;
}

.options-viewer .option-tab.active::after {
  position: absolute;
  top: 24px;
  min-width: 70px;
  min-height: 20px;
  content: '';
  background-image: url('/channel/switch_arrow.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  transition: left 0.2s ease;
}

.spliter {
  min-width: 2px;
  min-height: 16px;
  background-image: url('/icon_v_split.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.event-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.current-channel {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  color: var(--text-color-quaternary);
  background-color: var(--popup-background);
  border-bottom: 1px solid var(--text-color-octonary);
}

.current-channel::before {
  display: inline-block;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  margin-right: 4px;
  content: '';
  background-image: url('/mylocation.webp');
  background-repeat: no-repeat;
  background-size: auto;
}

.event-box {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  cursor: pointer;
  border-bottom: 1px solid var(--text-color-octonary);

  &:hover {
    background-color: #ddd;
  }
}

.user-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-detail .name {
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-quaternary);
  white-space: nowrap;
}

.user-detail .name.highlight {
  color: var(--text-nickname);
}

.action-content {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 2px;
  }
}

.time {
  color: var(--text-color-quaternary);
}

.green {
  color: #0f8318;
}

.red {
  color: #cc2121;
}

.space-between {
  align-items: center;
  justify-content: space-between;
}
