.small div {
  height: 58px;
  background-size: cover;
}

.ct-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('/dialog_body_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ct-contain {
  display: flex;
  margin-right: 30px;
  width: 100%;
}

.theme-selector {
  border-radius: 8px;
  width: 100%;
  margin: 1px;
}

.theme-slots-big {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.theme-slots-big div {
  position: relative;
  height: 120px;
  border: 1px solid var(--border);
  cursor: pointer;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.theme-slots-big div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.theme-slots-big div:hover {
  border: 1px solid #20a5d8;
}

.theme-slots-small {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1px;
  margin-top: 1px;
  width: 100%;
}

.theme-slots-small div {
  position: relative;
  height: 60px;
  border: 1px solid var(--border);
  cursor: pointer;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.theme-slots-small div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.theme-slots-small div:hover {
  border: 1px solid #20a5d8;
}

.image-selector {
  min-width: 60px;
  min-height: 60px;
  background-image: url('/user_defined.png');
}

.image-selector:hover {
  background-position: -58px 0 !important;
}

.image-selector:active {
  background-position: -116px 0 !important;
}

.color-selector {
  background-image: url('/palette.png');
}

.color-selector-box {
  position: absolute;
  left: 100px;
  top: 100px;
  padding: 5px;
  background-color: var(--background);
  box-shadow: var(--box-shadow);
}

.color-selector-image {
  background-image: url('/skin_palette.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 105px;
  width: 270px;
  cursor: crosshair;
}

.color-selector-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.color-selected-color {
  height: 25px;
  width: 60px;
}

.color-selected-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-selected-save,
.color-selected-cancel {
  height: 25px;
  width: 56px;
  border: 1px solid var(--border);
  cursor: pointer;
}

.color-selected-save:hover,
.color-selected-cancel:hover {
  background-color: var(--hover);
}

.color-selected-save {
  background-image: url('/palette_ok.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 3px;
}

.color-selected-cancel {
  background-image: url('/palette_cancel.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.theme[data-theme-index='0'] {
  background-image: url('/skin/57KJ57SF5Zue5oa2_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/57KJ57SF5Zue5oa2.jpg');
  --main-text-color: #f6e6d7;
  --secondary-color: #000;
}

.theme[data-theme-index='1'] {
  background-image: url('/skin/57SU55yf56ul5bm0_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/57SU55yf56ul5bm0.jpg');
  --main-text-color: #1b71ac;
  --secondary-color: #fff;
}

.theme[data-theme-index='2'] {
  background-image: url('/skin/5Y+v5oSb6LKT5ZKq_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/5Y+v5oSb6LKT5ZKq.jpg');
  --main-text-color: #efd1ab;
  --secondary-color: #000;
}

.theme[data-theme-index='3'] {
  background-image: url('/skin/6YKj5LiA5bm0_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/6YKj5LiA5bm0.jpg');
  --main-text-color: #d4be99;
  --secondary-color: #000;
}

.theme[data-theme-index='4'] {
  background-image: url('/skin/img_greenmood_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_greenmood.jpg');
  --main-text-color: #89c68b;
  --secondary-color: #000;
}

.theme[data-theme-index='5'] {
  background-image: url('/skin/img_sunflower_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_sunflower.jpg');
  --main-text-color: #edd569;
  --secondary-color: #000;
}

.theme[data-theme-index='6'] {
  background-image: url('/skin/img_sunset_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_sunset.jpg');
  --main-text-color: #7464ad;
  --secondary-color: #000;
}

.theme[data-theme-index='7'] {
  background-image: url('/skin/img_colddrink_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_colddrink.jpg');
  --main-text-color: #e3908f;
  --secondary-color: #000;
}

.theme[data-theme-index='8'] {
  background-image: url('/skin/img_pebble_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_pebble.jpg');
  --main-text-color: #a4cfd5;
  --secondary-color: #000;
}

.theme[data-theme-index='9'] {
  background-image: url('/skin/img_love_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_love.jpg');
  --main-text-color: #aa7a52;
  --secondary-color: #000;
}

.theme[data-theme-index='10'] {
  background-image: url('/skin/img_hamburger_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_hamburger.jpg');
  --main-text-color: #591234;
  --secondary-color: #fff;
}

.theme[data-theme-index='11'] {
  background-image: url('/skin/img_coastline_preview.jpg');
  background-color: #000;

  --header-image: url('/skin/img_coastline.jpg');
  --main-text-color: #313131;
  --secondary-color: #fff;
}

.theme[data-theme-index='12'] {
  background-image: linear-gradient(to bottom, #0073c6, #0073c6);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #0073c6, #0073c6);
  --main-text-color: #0073c6;
  --secondary-color: #fff;
}

.theme[data-theme-index='13'] {
  background-image: linear-gradient(to bottom, #6d95da, #6d95da);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #6d95da, #6d95da);
  --main-text-color: #6d95da;
  --secondary-color: #fff;
}

.theme[data-theme-index='14'] {
  background-image: linear-gradient(to bottom, #91b719, #729714);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #91b719, #729714);
  --main-text-color: #91b719;
  --secondary-color: #fff;
}

.theme[data-theme-index='15'] {
  background-image: linear-gradient(to bottom, #d7aa35, #c79c2d);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #d7aa35, #c79c2d);
  --main-text-color: #d7aa35;
  --secondary-color: #fff;
}

.theme[data-theme-index='16'] {
  background-image: linear-gradient(to bottom, #f3c89a, #edc193);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #f3c89a, #edc193);
  --main-text-color: #f3c89a;
  --secondary-color: #fff;
}

.theme[data-theme-index='17'] {
  background-image: linear-gradient(to bottom, #d74a33, #c8412b);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #d74a33, #c8412b);
  --main-text-color: #d74a33;
  --secondary-color: #fff;
}

.theme[data-theme-index='18'] {
  background-image: linear-gradient(to bottom, #ae6b73, #ab6a72);
  background-color: #000;

  --header-image: linear-gradient(to bottom, #ae6b73, #ab6a72);
  --main-text-color: #ae6b73;
  --secondary-color: #fff;
}

.theme-description {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow);
  color: #fff;
}
