.content {
  padding: 0;
  gap: 0;
  overflow: hidden;
}

.header-box {
  gap: 0.77rem;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.select-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.search-title {
  display: flex;
  align-items: center;
  width: 80px;
  height: 25px;
}

.search-input-box {
  display: flex;
  flex-direction: row;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border);
  background-color: var(--background);
  align-items: center;
}

.search-input-box input {
  border: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
  padding: 0.5rem;
}

.search-icon {
  background-image: url('/icon_search.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-position: 0 0;
  margin-right: 0.5rem;
  cursor: pointer;
}

.search-input-box:hover .search-icon {
  background-position: -16px 0;
}

.search-input-box:hover .search-icon:active {
  background-position: -33px 0;
}

.body-box {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: #fcfcfc;
  display: flex;
}

.body-left {
  height: 100%;
  min-height: 467.34px;
  width: 250px;
  overflow: auto;
  border-right: 1px solid #d6d6d6;
  flex: unset !important;
}

.friend-group-box,
.friend-group-list {
  display: flex;
  flex-direction: column;
}

.friend-group {
  border-radius: 3px;
  align-items: center;
  gap: 2px;
  height: 25px;
  padding: 5px;
  display: flex;
}

.friend-info-box {
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 5 10 5 50;
  display: flex;
  position: relative;
}

.friend-info-box.selected {
  background-color: var(--selected);
}


.friend-info-box:hover {
  background-color: var(--hover);
}

.avatar-box {
  display: flex;
}

.avatar-border {
  background-image: url('/win_border.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 1;
}

.avatar {
  object-fit: cover;
  background-image: url('/im/SecretaryLogo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30px;
  min-height: 30px;
  position: relative;
}

.name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main {
  height: 33px;
  width: 100%;
  background-color: #fafcff;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  margin-left: 0.8rem;
}

.main-delete-button-box {
  width: 80px;
  height: 22px;
  display: flex;
  align-items: center;
  border: 1px solid #b1b1b1;
  margin-right: 0.8rem;
  padding: 2px;
  cursor: pointer;
  margin-right: 0.5rem;
  justify-content: space-between;
}

.main-delete-button-box:hover {
  background: #eeeeee;
}

.delete-button-icon {
  background-image: url('/Delete_ico.png');
  background-size: auto;
  height: 16px;
  width: 16px;
}

.body-right-bottom {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.7rem;
}

.message-date {
  color: rgb(0, 106, 209);
  background: linear-gradient(#fff 0%, #f4f7fc 100%);
  border-bottom: 1px solid #b6cedc;
  align-items: end;
  padding-bottom: 0.5rem;
  width: 95%;
  height: 40px;
  font-weight: bold;
  display: flex;
}

.body-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message-item {
  flex: 1;
  height: auto;
  width: 95%;
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: background 0.15s;
}

.message-item:hover {
  background: #eaf3ff;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  height: 40px;
  flex-shrink: 0;
  border-top: 1px solid #d6d6d6;
  background: rgb(244, 247, 252);
}

.page-index {
  text-align: center;
}

.spacer {
  flex: 1;
}

.page-btn {
  width: 11px;
  height: 11px;
  background-image: url('/btn_turn_page.png');
  background-repeat: no-repeat;
  background-size: auto;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: unset;
  margin: 0.5rem;
}

.disabled {
  cursor: auto;
}

.page-btn.first {
  background-position: 0 0;
}

.page-btn.prev {
  background-position: -11px 0;
}

.page-btn.next {
  background-position: -22px 0;
}

.page-btn.last {
  background-position: -33px 0;
}

.page-btn.first.disabled {
  background-position: -44px 0;
}

.page-btn.prev.disabled {
  background-position: -55px 0;
}

.page-btn.next.disabled {
  background-position: -66px 0;
}

.page-btn.last.disabled {
  background-position: -77px 0;
}

.radio-wrapper {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin: 0 0.2rem;
  height: 1.9rem;
  width: 3.5rem;
  display: flex;
}

.radio-wrapper input[type="radio"] {
  display: none;
}

.radio-wrapper:hover {
  background: #c2c2c2;
}

.radio-wrapper.selected {
  background: #006ad1;
}

.body-right-message-box {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap:0.5rem;
}

.message-row-top {
  justify-content: space-between;
  color: #555;
  font-size: 14px;
}

.username {
  margin-right: 0.5rem;
}

.send-time,
.message-text {
  font-size: 13px;
  cursor: text;
  user-select: text;
}

.message-text {
  color: #006ad1;
  margin-top: 10px;
}