.context-menu:not(:empty) {
  position: fixed;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: max-content;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
}

.context-menu.hidden {
  display: none;
}

.separator {
  display: block;
  min-width: 100%;
  min-height: 1px;
  margin: 2px 0;
  background-image: url('/ctrl/menu_spliter.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.context-menu .option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5px 30px;
  margin: 2px 0;
  color: var(--text-color-secondary);
}

.context-menu .option::before {
  position: absolute;
  left: 6px;
  align-self: center;
  min-width: 16px;
  min-height: 16px;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.context-menu .option[data-type='setting']::before {
  background-image: url('/set.webp');
}

.context-menu .option[data-type='message']::before {
  background-image: url('/message.webp');
}

.context-menu .option[data-type='skin']::before {
  background-image: url('/skin.webp');
}

.context-menu .option[data-type='exit']::before {
  background-image: url('/exit.webp');
}

.context-menu .option[data-type='submenu-left']::before {
  background-image: url('/ctrl/icon_submenu.webp');
  transform: rotate(180deg);
}

.context-menu .option[data-type='submenu']::before {
  right: 6px;
  left: unset;
  background-image: url('/ctrl/icon_submenu.webp');
}

.context-menu .option[data-type='checked']::before {
  background-image: url('/ctrl/icon_menu_checked.webp');
}

.context-menu .option[data-type='memberManagement']::before {
  background-image: url('/channel/icon_membermgr.webp');
}

.context-menu .option[data-type='applyMember']::before {
  background-image: url('/channel/icon_memberapply.webp');
}

.context-menu .option[data-type='editGroupcard']::before {
  background-image: url('/channel/icon_editGroupcard.webp');
}

.context-menu .option[data-type='locateme']::before {
  background-image: url('/channel/icon_locateme.webp');
}

.context-menu .option[data-type='report']::before {
  background-image: url('/channel/icon_report.webp');
}

.context-menu .option[data-type='uncollect']::before {
  background-image: url('/channel/icon_uncollect.webp');
}

.context-menu .option[data-type='collect']::before {
  background-image: url('/channel/icon_collect.webp');
}

.context-menu .option:hover {
  background-color: var(--hover);
}

.context-menu .option.has-submenu .context-menu {
  display: none;
}

.context-menu .option.has-submenu:hover .context-menu {
  display: flex;
}

.context-menu .option.disabled {
  color: var(--text-color-senary);
  cursor: not-allowed;
}

.mic-context-menu:not(:empty) {
  position: fixed;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 154px;
  max-width: 154px;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
}

.mic-context-menu.hidden {
  display: none;
}

.mic-context-menu .option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 30px;
  color: var(--text-color-quaternary);
}

.mic-context-menu .option::before {
  position: absolute;
  left: 6px;
  align-self: center;
  min-width: 16px;
  min-height: 16px;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.mic-context-menu .option:hover {
  color: var(--text-color-secondary);
}

.mic-context-menu .option.disabled {
  color: var(--text-color-senary);
  cursor: not-allowed;
}
