.header {
  top: 0;
  position: sticky;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
  border-bottom: 1px solid var(--border);
  background-image: url('/channel/chn_toolbar_bg.webp');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.add-channel-btn,
.change-channel-name-btn,
.delete-channel-btn,
.up-channel-order-btn,
.down-channel-order-btn,
.top-channel-order-btn,
.bottom-channel-order-btn {
  display: flex;
  cursor: pointer;
  padding: 5px 8px;
  border: 1px solid #fff0;
}

.add-channel-btn:hover,
.change-channel-name-btn:hover,
.delete-channel-btn:hover,
.up-channel-order-btn:hover,
.down-channel-order-btn:hover,
.top-channel-order-btn:hover,
.bottom-channel-order-btn:hover {
  border: 1px solid var(--border);
  background-color: #ffffff4d;
}

.add-channel-btn:active,
.change-channel-name-btn:active,
.delete-channel-btn:active,
.up-channel-order-btn:active,
.down-channel-order-btn:active,
.top-channel-order-btn:active,
.bottom-channel-order-btn:active {
  background-color: #ffffff96;
}

.add-channel-btn::before,
.change-channel-name-btn::before,
.delete-channel-btn::before,
.up-channel-order-btn::before,
.down-channel-order-btn::before,
.top-channel-order-btn::before,
.bottom-channel-order-btn::before {
  content: '';
  background-position: 0 0;
  background-size: auto;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 5px;
}

.add-channel-btn::before {
  background-image: url('/channel/channel_add.webp');
  background-repeat: no-repeat;
}

.change-channel-name-btn::before {
  background-image: url('/channel/channel_rename.webp');
  background-repeat: no-repeat;
}

.delete-channel-btn::before {
  background-image: url('/channel/channel_delete.webp');
  background-repeat: no-repeat;
}

.up-channel-order-btn::before {
  background-image: url('/channel/channel_up.webp');
  background-repeat: no-repeat;
}

.down-channel-order-btn::before {
  background-image: url('/channel/channel_down.webp');
  background-repeat: no-repeat;
}

.top-channel-order-btn::before {
  background-image: url('/channel/channel_head.webp');
  background-repeat: no-repeat;
}

.bottom-channel-order-btn::before {
  background-image: url('/channel/channel_end.webp');
  background-repeat: no-repeat;
}

.disabled-btn::before {
  background-position: -16px 0;
}

.disabled-btn {
  pointer-events: none;
}

.selected {
  background-color: var(--selected);
}

.channel-tab-index-text {
  color: rgb(255 0 0);
  margin-left: 5px;
}

.channel-tab-box {
  display: flex;
}
