.emoji-icon {
  height: 18px;
  width: 18px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.emoji-icon::before {
  content: '';
  min-width: 18px;
  min-height: 18px;
  background-image: url('/channel/FaceButton.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
}

.emoji-icon:hover::before {
  background-position: -18px 0;
}

.emoji-icon:active::before {
  background-position: -36px 0;
}

.emoji-grid {
  position: absolute;
  z-index: 1000;
  display: grid;
  width: fit-content;
  max-width: 350px;
  height: fit-content;
  max-height: 350px;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  overflow: hidden auto;
}

.emoji {
  display: flex;
  align-items: center;
  min-width: 19px;
  max-width: 19px;
  min-height: 19px;
  max-height: 19px;
  cursor: pointer;
  border: 1px solid #fff0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
  overflow: hidden;
}

.emoji:hover {
  border: 1px solid #5898ff;
}
