.friend {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

/* Header */

.friend-header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 4px 10px;
  gap: 5px;
}

.avatar-box {
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.avatar-picture {
  position: relative;
  object-fit: cover;
  min-width: 40px;
  min-height: 40px;
  background-image: url('/im/SecretaryLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.avatar-picture::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 99;
  min-width: 42px;
  min-height: 42px;
  background-image: url('/win_border.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.avatar-picture::after {
  content: '';
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  min-width: 13px;
  min-height: 13px;
  background-image: url('/user_state.png');
  background-repeat: no-repeat;
  background-position: 0 0 !important;
}

.avatar-picture[datatype='']::after {
  background-image: none;
}

.avatar-picture[datatype='online']::after {
  background-position: 0 0 !important;
}

.avatar-picture[datatype='dnd']::after {
  background-position: -13px 0 !important;
}

.avatar-picture[datatype='idle']::after {
  background-position: -26px 0 !important;
}

.avatar-picture[datatype='gn']::after {
  background-position: -39px 0 !important;
}

.base-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 40px;
}

.base-info-wrapper .box {
  display: flex;
  align-items: center;
  gap: 2px;
}

.base-info-wrapper .box.has-server {
  cursor: pointer;
}

.level-icon {
  min-width: 16px;
  min-height: 16px;
  background-image: url('/im/LV.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.wealth-icon {
  border: none;
  margin-left: 20px;
  min-width: 16px;
  min-height: 16px;
  background-image: url('/silver_pea.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.wealth-value-text {
  color: var(--text-color-quaternary);
  text-align: left;
}

.signature-wrapper {
  display: flex;
  width: 60%;
  height: 40px;
  align-items: center;
  border: 1px solid #fff0;
  margin-left: 100px;
  padding: 2px 5px;
  gap: 5px;
}

.signature-input {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  resize: none;
}

.signature-input:empty::before {
  content: attr(data-placeholder-text);
  pointer-events: none;
  display: block;
}

.signature-wrapper:focus-within {
  border: 1px solid var(--border);
  border-radius: 3px;
}

.emoji-btn {
  display: none;
}

.signature-wrapper:focus-within .emoji-btn {
  display: flex;
}

.badge-box {
  display: flex;
  height: 20px;
  gap: 1px;
  align-items: center;
}

/* Content */

.friend-body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 280px;
  min-width: 280px;
  background-color: var(--sidebar);
}

.sidebar .navigate-tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 36px;
  cursor: pointer;
}

.sidebar .navigate-tabs .tab {
  display: flex;
  flex: 1;
  text-align: center;
  cursor: pointer;
  background-image: url('/friend_tab_item_bg.png');
  background-size: 100% 72px;
  background-position: 0 0;
  min-height: 36px;
  justify-content: center;
  align-items: center;
}

.sidebar .navigate-tabs .tab.selected {
  background-position: 0 -36px;
}

.friend-list-icon {
  min-width: 16px;
  min-height: 16px;
  background-image: url('/im/friend_list_page.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.recent-icon {
  min-width: 16px;
  min-height: 16px;
  background-image: url('/im/recently_list_page.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.selected .friend-list-icon,
.selected .recent-icon {
  background-position: -64px 0;
}

.scroll-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  padding: 10px;
  overflow-y: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-color: var(--background);
}

.search-bar .search-input {
  flex: 1;
  padding: 5px;
  width: 125px;
}

.search-bar .search-icon {
  min-width: 20px;
  min-height: 20px;
  background-image: url('/channel/channel_search.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-bar:hover:not(:has(.prev-icon:hover, .next-icon:hover)) .search-icon {
  background-position: -20px 0;
}

.prev-icon {
  min-width: 29px;
  min-height: 30px;
  background-image: url('/channel/search_pre.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.next-icon {
  min-width: 29px;
  min-height: 30px;
  background-image: url('/channel/search_next.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.prev-icon:hover,
.next-icon:hover {
  background-position: -29px 0;
}

.prev-icon:active,
.next-icon:active {
  background-position: -58px 0;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px;
  background-color: var(--sidebar);
  border-top: 1px solid var(--border);
  border-bottom-left-radius: 5px;
}

.sidebar-footer .button {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color-quaternary);
}

.sidebar-footer .button:hover {
  background-color: var(--hover);
}

.sidebar-footer .button[datatype='addGroup']::before {
  content: '';
  min-height: 16px;
  min-width: 16px;
  margin-right: 5px;
  background-image: url('/im/add_group.png');
  background-repeat: no-repeat;
}

.sidebar-footer .button[datatype='addFriend']::before {
  content: '';
  min-height: 16px;
  min-width: 16px;
  margin-right: 5px;
  background-image: url('/im/add_friend.png');
  background-repeat: no-repeat;
}

.friend-group-list {
  flex: 1;
}

.friend-group-list .friend-group-tab {
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 25px;
  padding: 5px;
  gap: 2px;
}

.friend-group-list .friend-group-tab.selected {
  background-color: var(--selected);
}

.friend-group-list .friend-group-tab:hover {
  background-color: var(--hover);
}

.friend-group-list .friend-group-tab .toggle-icon {
  content: '';
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  background-image: url('/channel/channelIcon.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
}

.friend-group-list .friend-group-tab .toggle-icon.expanded {
  background-position: -14px 0;
}

.friend-group-list .tab-content {
  margin-left: 20px;
}

.friend-tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 5px;
  gap: 5px;
  border-radius: 3px;
}

.friend-tab.selected {
  background-color: var(--selected);
}

.friend-tab:not(.selected):hover {
  background-color: var(--hover);
}

.friend-tab .name-text {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friend-tab .signature {
  color: var(--text-color-quaternary);
  overflow: hidden;
  min-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friend-tab .server-name-text {
  color: #3a9abe;
  white-space: nowrap;
  overflow: hidden;
  min-height: 18px;
  line-height: 18px;
  text-overflow: ellipsis;
}

.friend-tab .location-icon {
  content: '';
  min-height: 18px;
  min-width: 16px;
  background-image: url('/mylocation.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.recent-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Main Content */

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 500px;
  min-height: 0;
  border-top: 1px solid var(--border);
  background-color: var(--sidebar);
}

.content .header {
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
}

.content-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  padding: 10px;
  overflow-y: auto;
}

.user-activity-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.friend-active-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.user-activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.user-avatar {
  background-image: url('/im/IMLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 30px;
  min-width: 30px;
  cursor: pointer;
}

.right-info {
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  display: flex;
  cursor: text;
  user-select: text;
}

.user-activity-top {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
  gap: 3px;
}

.user-activity-top>div:first-child,
.user-activity-top>div:nth-child(2) {
  flex-shrink: 0;
}

.user-activity-top>div:last-child {
  flex-shrink: 0;
  margin-left: auto;
}

.user-activity {
  gap: 10px;
}

.vip-icon {
  width: 14px;
}

.user-name {
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.signature {
  color: var(--text-color-quaternary);
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 100%;
}

.user-name {
  color: var(--text-username);
}

.timestamp {
  align-self: flex-end;
  color: var(--text-color-quinary);
  font-size: 0.9em;
}