:root {
  --main-color: #0073c6;
  --secondary-color: #fff;
  --header-image: none;
  --background: #fff;
  --foreground: #f4f6fa;
  --sidebar: #f1f2f5;
  --border: #ccc;
  --border-secondary: #ddd;
  --shadow: #00000080;
  --hover: #d1d5da5c;
  --selected: #d8dadc;
  --text-color: #000;
  --text-color-secondary: #222;
  --text-color-tertiary: #444;
  --text-color-quaternary: #666;
  --text-color-quinary: #888;
  --text-color-senary: #aaa;
  --text-color-septenary: #ccc;
  --text-color-octonary: #eee;
  --text-warning: #ff3030;
  --text-link: #2563eb;
  --text-link-hover: #1d4ed8;
  --text-username: #2f94db;
  --text-username-hover: #1d4ed8;
  --text-vip-name: #e4493e;
  --text-vip-name-hover: #9c3028;
  --text-nickname: #6e849b;
  --notify-toaster-border: #f9c55d;
  --notify-toaster-background: #fefee4;
}

@media (prefers-color-scheme: dark) {
}

* {
  border: none;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  --font-family: Arial, sans-serif;
  overflow: clip;
  color: var(--text-color);
  background: none;
  user-select: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d0f;
  border-radius: 4px;
  border: 1px solid #6d6d6d26;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d6d6d38;
}

/* Resize Handle */

.resize-handle {
  min-width: 2px;
  height: 100%;
  background-color: var(--border-secondary);
  cursor: col-resize;
  transition: background-color 0.1s ease-in-out;
}

.resize-handle:active,
.resize-handle:hover {
  background-color: var(--border);
}

.resize-handle-vertical {
  width: 100%;
  min-height: 3px;
  background-color: var(--border-secondary);
  cursor: row-resize;
  transition: background-color 0.1s ease-in-out;
}

.resize-handle-vertical:active,
.resize-handle-vertical:hover {
  background-color: var(--border);
}

/* Radio & Checkbox */

input[type='radio'] {
  background-image: url('/ctrl/radiobox_icon.png');
}

input[type='checkbox'] {
  background-image: url('/ctrl/checkbox_icon.png');
}

input[type='radio'],
input[type='checkbox'] {
  min-height: 20px;
  min-width: 20px;
  background-size: inherit;
  background-position: 0 0;
  cursor: pointer;
  appearance: none;
  border: none;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
  background-position: 0 -18px;
}

input[type='radio']:hover,
input[type='checkbox']:hover {
  background-position: -18px 0;
}

input[type='radio']:checked:hover,
input[type='checkbox']:checked:hover {
  background-position: -18px -18px;
}

/* Input & Select & Textarea */

input,
input::placeholder,
select,
select::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: var(--font-family);
}

/* Highlight.js */

.hljs span {
  font-family: monospace;
}

.hljs {
  line-height: 1.25rem;
}

/* Disabled */

*:disabled,
.disabled {
  color: #c5c5c5 !important;
  filter: grayscale(100%) !important;
  pointer-events: none !important;
}

*[datatype='read-only'] {
  pointer-events: none;
  user-select: none;
  &:hover {
    cursor: default;
  }
  &:focus {
    outline: none;
  }
}

/* Hover Text */
.has-hover-text {
  position: relative;
  cursor: pointer;
  &:hover {
    .hover-text {
      opacity: 1;
    }
  }
}

.hover-text {
  z-index: 999;
  position: absolute;
  left: 0;
  bottom: 100%;
  display: flex;
  align-items: center;
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px;
  white-space: nowrap;
  color: var(--text-color-quinary);
  opacity: 0;
}
