:root {
  --main-color: #0073c6;
  --main-color: #3790ce;
  --secondary-color: #fff;
  --header-image: none;
  --background: #fbfbfb;
  --background-secondary: #f4f4f4;
  --sidebar: #f0f2f4;
  --border: #d6d6d6;
  --border-secondary: #999;
  --box-shadow: 0 0 4px 0.5px #00000080;
  --hover: #00000010;
  --selected: #00000020;
  --footer-background: #eeeff1;
  --text-color: #000;
  --text-color-secondary: #333;
  --text-color-tertiary: #444;
  --text-color-quaternary: #666;
  --text-color-quinary: #999;
  --text-color-senary: #a8a8a8;
  --text-color-septenary: #ccc;
  --text-color-octonary: #eee;
  --text-warning: #ff0000;
  --text-link: #0059a1;
  --text-link-hover: #0059a1;
  --text-username: #2f94db;
  --text-username-hover: #1d4ed8;
  --text-vip-name: #e4493e;
  --text-vip-name-hover: #9c3028;
  --text-nickname: #6e849b;
  --notify-toaster-border: #f9c55d;
  --notify-toaster-background: #fefee4;
  --button-background: #fdfdfd;
  --popup-background: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #1f1f1f;
    --foreground: #292929;
    --sidebar: #242424;
    --border: #333;
    --border-secondary: #222;
    --border-tertiary: #444;
    --shadow: #00000080;
    --hover: #333;
    --selected: #444;
    --text-color: #eee;
    --text-color-secondary: #ccc;
    --text-color-tertiary: #aaa;
    --text-color-quaternary: #888;
    --text-color-quinary: #666;
    --text-color-senary: #444;
    --text-color-septenary: #222;
    --text-color-octonary: #000;
    --text-warning: #ff3030;
    --text-link: #76a1ff;
    --text-link-hover: #5c8aff;
    --text-username: #2f94db;
    --text-username-hover: #1d4ed8;
    --text-vip-name: #e4493e;
    --text-vip-name-hover: #9c3028;
    --text-nickname: #6e849b;
    --notify-toaster-border: #855800;
    --notify-toaster-background: #3b3b00;
    --button-background: linear-gradient(#242424, #1f1f1f); */
  }
}

* {
  border: none;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  --font-family: Arial, sans-serif;
  overflow: clip;
  color: var(--text-color);
  background-color: var(--background);
  user-select: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d0f;
  border-radius: 4px;
  border: 1px solid #6d6d6d26;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6d6d6d38;
}

/* Resize Handle */

.resize-handle {
  min-width: 2px;
  height: 100%;
  background-color: var(--border);
  cursor: col-resize;
  transition: background-color 0.1s ease-in-out;
}

.resize-handle:active,
.resize-handle:hover {
  background-color: var(--border-secondary);
}

.resize-handle-vertical {
  width: 100%;
  min-height: 2px;
  background-color: var(--border);
  cursor: row-resize;
  transition: background-color 0.1s ease-in-out;
}

.resize-handle-vertical:active,
.resize-handle-vertical:hover {
  background-color: var(--border);
}

/* Radio & Checkbox */

input[type='radio'] {
  background-image: url('/ctrl/radiobox_icon.png');
}

input[type='checkbox'] {
  background-image: url('/ctrl/checkbox_icon.png');
}

input[type='radio'],
input[type='checkbox'] {
  min-height: 19px;
  min-width: 19px;
  background-size: inherit;
  background-position: 0 0;
  cursor: pointer;
  appearance: none;
  border: none;
}

input[type='radio']:checked,
input[type='checkbox']:checked {
  background-position: 0 -18px;
}

input[type='radio']:hover,
input[type='checkbox']:hover {
  background-position: -18px 0;
}

input[type='radio']:checked:hover,
input[type='checkbox']:checked:hover {
  background-position: -18px -18px;
}

/* Input & Select & Textarea */

input,
input::placeholder,
select,
select::placeholder,
textarea,
textarea::placeholder,
button {
  font-family: var(--font-family);
}

/* Highlight.js */

.hljs span {
  font-family: monospace;
}

.hljs {
  line-height: 1.25rem;
}

/* Disabled */

*:disabled,
.disabled {
  color: #c5c5c5 !important;
  filter: grayscale(100%) !important;
  pointer-events: none !important;
}

*[datatype='read-only'] {
  pointer-events: none;
  user-select: none;

  &:hover {
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}

/* Hover Text */

.has-hover-text {
  position: relative;
  cursor: pointer;

  &:hover {
    .hover-text {
      opacity: 1;
    }
  }
}

.hover-text {
  z-index: 999;
  position: absolute;
  left: 0;
  bottom: 100%;
  display: flex;
  align-items: center;
  height: 20px;
  padding-right: 3px;
  padding-left: 3px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px;
  white-space: nowrap;
  color: var(--text-color-quinary);
  opacity: 0;
}

input,
select,
textarea {
  color: var(--text-color);
  background-color: transparent;
}