.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

/* Header */

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding: 4px 8px;
  border-bottom: 1px solid var(--border);
}

.home-header .left,
.home-header .mid,
.home-header .right {
  display: flex;
  align-items: center;
  width: auto;
}

.home-header .mid {
  -webkit-overflow-scrolling: touch;
}

.home-header .mid::-webkit-scrollbar {
  height: 0;
}

/* Search Bar */

.back-btn {
  min-height: 15px;
  min-width: 15px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  background-image: url('/icon_left_arrow.webp');
  background-position: 0 0;
}

.forward-btn {
  min-height: 15px;
  min-width: 15px;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  background-image: url('/icon_right_arrow.webp');
  background-position: 0 0;
}

.back-btn:hover,
.forward-btn:hover {
  background-position: -16px 0;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 15px;
  background-color: var(--background);
  min-width: 180px;
}

.search-input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  width: auto;
  color: var(--text-color-quinary);
}

.search-input:focus {
  border: 1px solid var(--border);
}

.search-input-icon {
  background-color: var(--background);
  background-image: url('/icon_search.webp');
  background-position: 0 0;
  background-size: auto;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  right: 5px;
}

.search-input-clear-btn {
  background-color: var(--background);
  background-image: url('/channel/searchCancel.webp');
  background-position: 0 0;
  background-size: auto;
  height: 13px;
  width: 13px;
  display: flex;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.search-input-clear:hover {
  background-position: -13px 0;
}

.search-input-clear:active {
  background-position: -26px 0;
}

.search-dropdown {
  z-index: 10000;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  width: 220px;
  max-height: 400px;
  background-color: var(--background);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  overflow-y: auto;
}

.search-dropdown::-webkit-scrollbar {
  width: 0;
}

.search-dropdown .header-text {
  display: block;
  align-items: center;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-dropdown .header-text.exact-match {
  background-color: var(--hover);
}

.search-dropdown .spliter {
  width: 150px;
  margin-top: 3px;
  background-image: url('/ctrl/menu_spliter.webp');
  background-size: contain;
  background-repeat: no-repeat;
}

.search-dropdown .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 5px 10px;
}

.search-dropdown .item:not(.input-empty-item):hover {
  background-color: var(--hover);
}

.search-dropdown .item.input-empty-item {
  height: 35px;
  padding: 5px 10px;
  color: var(--text-color-quaternary);
}

.search-dropdown .item .server-avatar-picture {
  min-height: 40px;
  min-width: 40px;
}

.search-dropdown .item .server-info-text {
  justify-content: space-around;
}

.search-dropdown .item .server-id-box::before {
  content: '';
  min-height: 12px;
  min-width: 12px;
  background-image: url('/channel/ID.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 5px;
}

.search-dropdown .item .server-name-text {
  color: var(--text-color-quaternary);
}

/* Navigate Tabs */

.navegate-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-quaternary);
  position: relative;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff0;
  min-width: max-content;
  height: 30px;
  margin-right: 15px;
  padding: 5px;
}

.navegate-tab:hover {
  background-color: var(--hover);
  border: 1px solid var(--border);
}

.navegate-tab.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
}

.navegate-tab[data-key='60060']::before {
  content: '';
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
  background-image: url('/icon_home_page.webp');
  background-position: 0 0;
}

.navegate-tab[data-key='40007']::before {
  content: '';
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
  background-image: url('/icon_game.webp');
  background-position: 0 0;
}

.navegate-tab[data-key='30375']::before {
  content: '';
  min-width: 20px;
  min-height: 20px;
  margin-right: 5px;
  background-image: url('/icon_amusement.webp');
  background-position: 0 0;
}

.navegate-tab[data-key='30014']::before {
  content: '';
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
  background-image: url('/icon_create.webp');
  background-position: 0 0;
}

.navegate-tab[data-key='60004']::before {
  content: '';
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
  background-image: url('/icon_person.webp');
  background-position: 0 0;
}

.navegate-tab[data-key='60005']::before {
  content: '';
  min-width: 12px;
  min-height: 12px;
  margin-right: 5px;
  background-image: url('/back.webp');
  background-position: 0 0;
}

/* Body */

.home-body {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 25px;
  max-height: 100%;
  gap: 10px;
  background-color: var(--background-secondary);
}

.home-body .home-wrapper {
  max-width: 900px;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 280px;
  min-width: 280px;
  background-color: var(--sidebar);
  border-right: 1px solid var(--border);
}

.scroll-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  padding: 10px;
  overflow-y: auto;
}

.category-list {
  flex: 1;
}

.category-tab {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-top: 3px;
  padding: 5px;
  gap: 3px;
  cursor: pointer;

  &.selected {
    background-color: var(--selected);
  }

  &:not(.selected):hover {
    background-color: var(--hover);
  }
}

.category-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.category-flag {
  height: 16px;
  width: 16px;
}

.category-list .category-list .category-tab {
  margin-top: 0;
}

.category-list .category-list .category-name {
  font-size: 1rem;
  font-weight: unset;
}

.servers-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: var(--background-secondary);
}

.server-list-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  border-bottom: 2px solid var(--border);
}

.server-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 830px;
  gap: 10px;
}

.server-card {
  display: flex;
  width: 270px;
  height: 90px;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  background-color: var(--background);
  border: 1px solid var(--border);
}

.server-avatar-picture {
  cursor: pointer;
  object-fit: cover;
  min-height: 70px;
  min-width: 70px;
  background-image: url('/logo_server_def.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.server-info-text {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.server-name-text {
  color: var(--text-link);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.server-id-box {
  display: flex;
  align-items: center;
  color: var(--text-color-quaternary);
}

.server-id-text {
  display: flex;
  align-items: center;
}

.server-slogen {
  display: flex;
  align-items: center;
  color: var(--text-color-quaternary);
  height: 1em;
}

.server-online {
  display: flex;
  align-items: center;
  color: var(--text-color-quaternary);
  height: 1em;
}

.server-id-text.is-owner::before {
  content: '';
  display: block;
  width: 13px;
  height: 15px;
  margin-right: 2px;
  background-image: url('/icon_creator.webp');
  background-size: contain;
  background-position: 0 0;
}

@media only screen and (width <=900px) {
  .server-list {
    width: 550px;
  }
}

.view-more-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--background);
  padding: 5px;
  margin: 8px auto 16px;
  gap: 5px;
}

.view-more-btn:hover {
  background-color: var(--hover);
}

.view-more-btn.more-icon::before {
  content: '';
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  transform: rotate(180deg);
  background-image: url('/btn_fold_person.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.view-more-btn.more-icon:hover::before {
  background-position: -16px 0;
}

.view-more-btn.more-icon:active::before {
  background-position: -32px 0;
}

.view-more-btn.less-icon::before {
  content: '';
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background-image: url('/btn_fold_person.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.view-more-btn.less-icon:hover::before {
  background-position: -16px 0;
}

.view-more-btn.less-icon:active::before {
  background-position: -32px 0;
}

.webview {
  width: 100%;
  height: 100%;
}

.loading-wrapper {
  z-index: 10000;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-box {
  flex-direction: column;
  pointer-events: auto;
  width: 300px;
  height: 100px;
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading-title-contain {
  display: flex;
  text-align: center;
  margin-top: 5px;
}

.loading-server-id {
  margin-left: 5px;
}

.loading-gif {
  width: 256px;
  height: 12px;
  margin-top: 15px;
  background-image: url('/icon_loading.gif');
  background-position: 0 0;
  background-size: contain;
}

.loading-close-btn {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 18px;
  height: 18px;
  border: none;
  cursor: pointer;
  background-image: url('/loading_close.webp');
  background-size: cover;
  background-position: 0 0;
}

.loading-close-btn:hover {
  background-position: -18px 0;
}

.loading-close-btn:active {
  background-position: -36px 0;
}

/* banner viewer */
.banner-wrapper {
  max-width: 900px;
  width: 100%;
}

.banner-container {
  position: relative;
  display: flex;
  overflow: hidden;
  aspect-ratio: 3 / 1;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.banners {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.banner {
  width: 100%;
  aspect-ratio: 3 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: arial, sans-serif;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  color: var(--text-color-tertiary);
  background-color: #e6f1f9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  height: 100px;
  background-image: url('/ricecall_logo.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e6f1f9;
}

.number-list {
  position: absolute;
  bottom: 5;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  padding: 5px 10px;
  border-radius: 10px;
}

.number-list nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: var(--box-shadow);

  &.active {
    background: white;
    color: black;
    width: 16px;
  }
}

.nav {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  top: 50%;
  font-size: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 10;
  transition: background 0.2s ease-in-out;
  box-shadow: var(--box-shadow);

  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

.nav.prev-btn {
  left: 10px;
}

.nav.next-btn {
  right: 10px;
}

/* Announcement */

.announcement-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 100%;
  width: 100%;
}

.announcement-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--background);
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--border);
  box-shadow: 0 1px 1px #00000080;
}

.announcement-tab {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  color: var(--text-color-quaternary);
  font-weight: bold;
  transition: color 0.1s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #e72525;
    transition: all 0.1s ease;
  }

  &.active::after {
    left: 0;
    width: 100%;
  }

  &.active {
    color: #e72525;
  }
}

.announcement-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: 10px;
  background-color: var(--background);
  border-radius: 5px;
  border: 1px solid var(--border);
  box-shadow: 0 1px 1px #00000080;
  overflow-y: auto;
}

.announcement-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: var(--text-color-quaternary);
  border-bottom: 1px solid var(--border);
  cursor: pointer;

  &:hover {
    background-color: var(--hover);
  }
}

.announcement-type {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--border);
  background-color: var(--hover);
  color: var(--text-color-quaternary);
  min-width: 50px;
  width: fit-content;
  text-align: center;

  &[data-category='general'] {
    border-color: #005cbf;
    background-color: #e7f3ff;
    color: #005cbf;
  }

  &[data-category='update'] {
    border-color: #c85a17;
    background-color: #fff0e6;
    color: #c85a17;
  }

  &[data-category='system'] {
    border-color: #e72525;
    background-color: #fae6e6;
    color: #e72525;
  }

  &[data-category='event'] {
    border-color: #1e7e34;
    background-color: #e6ffed;
    color: #1e7e34;
  }
}

.announcement-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.announcement-date {
  min-width: 100px;
}

.announcement-detail-wrapper {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000080;
  animation: visibility 0.2s ease-in-out;
}

.announcement-detail-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--background);
  box-shadow: 0 1px 1px #00000080;
  overflow-y: auto;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes visibility {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.announcement-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border);
  font-weight: bold;
  font-size: 1.2em;
}

.announcement-detail-title {
  flex: 5;
  font-size: 1.2em;
  align-items: flex-start;
}

.announcement-datail-date {
  flex: 1;
  font-size: 0.8em;
  color: #999;
  text-align: right;
}

.announcement-detail-content {
  flex: 1;
  padding: 10px;
}

/* RecommendServer */

.recommend-server-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.recommend-server-tab {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  color: #e7f3ff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;

  &.active {
    background-color: #e7f3ff;
    color: var(--main-color);
    border-color: var(--main-color);
  }

  &[data-category='sing'] {
    border-color: #005cbf;
    background-color: #005cbf;
    color: #e7f3ff;

    &.active {
      background-color: #e7f3ff;
      color: #005cbf;
    }
  }

  &[data-category='entertainment'] {
    border-color: #791bec;
    background-color: #791bec;
    color: #e7f3ff;

    &.active {
      background-color: #e7f3ff;
      color: #791bec;
    }
  }

  &[data-category='radio'] {
    border-color: #c85a17;
    background-color: #c85a17;
    color: #fff0e6;

    &.active {
      background-color: #fff0e6;
      color: #c85a17;
    }
  }

  &[data-category='game'] {
    border-color: #e72525;
    background-color: #e72525;
    color: #fae6e6;

    &.active {
      background-color: #fae6e6;
      color: #e72525;
    }
  }

  &[data-category='community'] {
    border-color: #1e7e34;
    background-color: #1e7e34;
    color: #e6ffed;

    &.active {
      background-color: #e6ffed;
      color: #1e7e34;
    }
  }
}

.recommended-servers-wrapper {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.recommended-servers-wrapper .server-list {
  width: 100%;
}