.login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background-color: var(--background);
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 226px;
  height: 100%;
  gap: 10px;
}

.app-logo {
  display: block;
  min-width: 226px;
  min-height: 54px;
  background-image: url('/login_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.loading-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 12px;
  background-image: url('/icon_loading.gif');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  gap: 10px;
}

.label {
  color: var(--text-color-secondary);
  margin-bottom: 5px;
  display: block;
  width: auto;
  text-align: left;
}

.input {
  position: relative;
  flex: 1;
  height: 29px;
  padding: 8px;
  transition: box-shadow 0.3s ease;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.input-box {
  position: relative;
  display: flex;
  border: 1px solid var(--border);
  box-shadow: inset 1px 1px 3px #0000001f;
}

.input-box:hover {
  border-color: var(--border-secondary);
}

.combo-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 100%;
  position: relative;
}

.combo-arrow::before {
  content: '';
  width: 2px;
  height: 20px;
  background-image: url('/channel/icon_v_split.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-right: 3px;
}

.combo-arrow::after {
  content: '';
  width: 20px;
  height: 12px;
  background-image: url('/login_combobox_triangle.png');
  background-repeat: no-repeat;
  background-position: -7px 0;
}

.input-box:hover .combo-arrow {
  background: linear-gradient(to bottom, #fff 0%, #f3f3f3 50%, #e0e0e0 100%);
}

.input-box .combo-arrow:active {
  background: linear-gradient(to bottom, #e0e0e0 0%, #f3f3f3 50%, #fff 100%);
}

.input-box:hover .combo-arrow::after {
  background-position: -33px 0;
}

.input-box .combo-arrow:active::after {
  background-position: -59px 0;
}

.account-select-box {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  border: 1px solid var(--border);
  background-color: var(--background);
  top: 30px;
  overflow-y: auto;
}

.account-select-option-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  height: 2em;
  width: 100%;
}

.account-select-option-box:hover {
  background-color: var(--hover);
}

.account-select-option-box.selected {
  background-color: var(--selected);
}

.account-select-delete-btn {
  min-height: 18px;
  min-width: 18px;
  background-image: url('/loading_close.png');
  background-size: cover;
  background-position: 0 0;
  cursor: pointer;
}

.account-select-delete-btn:hover {
  background-position: -18px 0;
}

.account-select-delete-btn:active {
  background-position: -36px 0;
}

.check-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  font-size: 0.9em;
  color: var(--text-color-quaternary);
}

.check-wrapper .check-box {
  display: flex;
  align-items: center;
}

.check-wrapper .check {
  appearance: none;
  cursor: pointer;
}

.check-box .check::before {
  display: block;
  content: '';
  min-height: 18px;
  min-width: 18px;
  background-image: url('/ctrl/checkbox_icon.png');
  background-size: auto;
  background-position: 0 0;
}

.check-box .check:checked::before {
  background-position: 0 -18px;
}

.check-box .check:hover::before {
  background-position: -18px 0;
}

.check-box .check:hover:checked::before {
  background-position: -18px -18px;
}

.submit-button {
  width: 200px;
  height: 42px;
  margin-top: 10px;
  background-color: #1680ce;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #419ddd;
}

.submit-button:active {
  background-color: #1680ce;
}

.submit-button:disabled {
  background-color: #1680ce;
  opacity: 0.6;
  cursor: not-allowed;
}

/* Footer */

.login-footer {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--footer-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border);
}

.create-account,
.forget-password,
.change-server {
  text-decoration: none;
  font-size: 0.9em;
  color: var(--text-color-quaternary);
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.create-account:hover,
.forget-password:hover,
.change-server:hover {
  color: #0073c6;
}

.create-account::before,
.forget-password::before {
  content: '';
  min-width: 14px;
  min-height: 14px;
  background-size: contain;
  background-size: cover;
  margin-right: 5px;
  vertical-align: middle;
}

.create-account::before {
  background-image: url('/icon_createaccount.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.forget-password::before {
  background-image: url('/icon_getpass.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}
