.markdown-content {
  user-select: text;
}

.markdown-content h1 {
  font-size: 1.5rem;
  margin: 16px 0 8px;
}

.markdown-content h2 {
  font-size: 1.25rem;
  margin: 16px 0 8px;
}

.markdown-content h3 {
  font-size: 1rem;
  margin: 16px 0 8px;
}

.markdown-content p {
  display: block;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
}

.markdown-content span {
  user-select: text;
}

.markdown-content a {
  font-weight: 500;
  text-decoration: none;
  text-underline-offset: 0.125rem;
  white-space: pre-wrap;
  word-break: break-word;
  cursor: pointer;
  color: var(--text-link);
  &:hover {
    text-decoration: underline;
    color: var(--text-link-hover);
  }
}

.markdown-content ul,
.markdown-content ol {
  list-style-position: outside;
  margin: 4px 0 0 16px;
}

.markdown-content li {
  margin-bottom: 4px;
}

.markdown-content blockquote {
  margin: 4px 0;
  padding: 0 8px 0 12px;
  text-indent: 0;
  color: var(--text-color-quaternary);
  border-left: 4px solid var(--border);
  border-radius: 0 4px 4px 0;
}

/* inline code */
.markdown-content code {
  padding: 0.125rem 0.25rem;
  border-radius: 4px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  align-self: baseline;
  line-height: 1.5rem;
  font-family: monospace;
  font-size: 0.875em;
  font-weight: bold;
}

/* block code */
.markdown-content pre {
  position: relative;
}

.markdown-content hr {
  margin: 5px 0;
  border: none;
  border-top: 1px dashed var(--border);
}

.markdown-content table {
  background-color: var(--background);
  display: flex;
  height: auto;
  border: 1px solid var(--border);
  flex-direction: column;
  overflow-y: auto;
}

.markdown-content table thead {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--background-secondary);
}

.markdown-content table tr {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.markdown-content table tr:not(.selected):hover {
  background-color: var(--hover);
}

.markdown-content table tr.selected {
  background-color: var(--selected);
}

.markdown-content table tr th {
  height: auto;
  width: 100%;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-top: 0;
  border-left: 0;
  padding: 5px;
  text-align: left;
  font-weight: unset;
  display: flex;
  align-items: center;
}

.markdown-content table tr td {
  height: auto;
  width: 100%;
  border: 1px solid var(--border);
  border-top: 0;
  border-left: 0;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.markdown-content table tr th:last-child,
.markdown-content table tr td:last-child {
  border-right: 0;
}

.markdown-content table tr:last-child td {
  border-bottom: 0;
}

.markdown-content table tr th:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.markdown-content table .p1 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markdown-content img {
  margin-block-start: 0;
  margin-inline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.markdown-content img:not(.emoji) {
  width: 60%;
  height: 60%;
  max-width: 1024px;
  max-height: 1024px;
}

.container {
  flex: 1;
  overflow-x: hidden;
}

.markdown-content .table-wrapper {
  background: transparent;
  max-width: 100%;
  overflow-x: auto;
}

.markdown-content .code-wrapper {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  font-family: monospace !important;
}

.setting-markdown-container {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 2px;
  background-color: var(--background);
  border: 1px solid var(--border);
  resize: none;
  overflow: auto;
}

.copy-button {
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;
  padding: 0.125rem;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: monospace;
  font-size: 0.875em;
  opacity: 0;
}

.copy-button:hover {
  background-color: var(--hover);
}

.markdown-content pre:hover .copy-button {
  opacity: 1;
}

.user-name {
  user-select: text;
  display: inline-block !important;
  word-break: break-all !important;
  color: var(--text-username);
  cursor: pointer;
  white-space: pre-wrap;
  &:hover {
    text-decoration: underline;
  }
}

.user-icon {
  user-select: text;
  vertical-align: text-top;
  display: inline-block !important;
  word-break: break-all !important;
}

.embed-video {
  width: 100%;
  aspect-ratio: 16/9;
  border: 0;
}

.emoji {
  width: 19px;
  height: 19px;
}
