.markdown-content {
  user-select: text;
}

.markdown-content h1 {
  margin: 16px 0 8px;
  font-size: 1.5rem;
}

.markdown-content h2 {
  margin: 16px 0 8px;
  font-size: 1.25rem;
}

.markdown-content h3 {
  margin: 16px 0 8px;
  font-size: 1rem;
}

.markdown-content p {
  display: block;
  align-items: center;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.markdown-content span {
  user-select: text;
}

.markdown-content a {
  font-weight: 500;
  color: var(--text-link);
  overflow-wrap: break-word;
  white-space: pre-wrap;
  text-decoration: none;
  text-underline-offset: 0.125rem;
  cursor: pointer;

  &:hover {
    color: var(--text-link-hover);
    text-decoration: underline;
  }
}

.markdown-content ul,
.markdown-content ol {
  margin: 4px 0 0 16px;
  list-style-position: outside;
}

.markdown-content li {
  margin-bottom: 4px;
}

.markdown-content blockquote {
  padding: 0 8px 0 12px;
  margin: 4px 0;
  color: var(--text-color-quaternary);
  text-indent: 0;
  border-left: 4px solid var(--border);
  border-radius: 0 4px 4px 0;
}

/* inline code */
.markdown-content code {
  align-self: baseline;
  padding: 0.125rem 0.25rem;
  font-family: monospace;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.5rem;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 4px;
}

/* block code */
.markdown-content pre {
  position: relative;
}

.markdown-content hr {
  margin: 5px 0;
  border: none;
  border-top: 1px dashed var(--border);
}

.markdown-content table {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  background-color: var(--background);
  border: 1px solid var(--border);
}

.markdown-content table thead {
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--background-secondary);
}

.markdown-content table tr {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.markdown-content table tr:not(.selected):hover {
  background-color: var(--hover);
}

.markdown-content table tr.selected {
  background-color: var(--selected);
}

.markdown-content table tr th {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
  font-weight: unset;
  text-align: left;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-top: 0;
  border-left: 0;
}

.markdown-content table tr td {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding: 5px;
  overflow: hidden;
  border: 1px solid var(--border);
  border-top: 0;
  border-left: 0;
}

.markdown-content table tr th:last-child,
.markdown-content table tr td:last-child {
  border-right: 0;
}

.markdown-content table tr:last-child td {
  border-bottom: 0;
}

.markdown-content table tr th:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.markdown-content table .p1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.markdown-content img {
  margin-block-start: 0;
  margin-inline: 0;
  cursor: pointer;
  border-radius: 5px;
}

.markdown-content img:not(.emoji),
.markdown-content.image-size-small img:not(.emoji) {
  max-width: calc(min(90%, 256px));
  margin: 5px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 2px #0000003f;
  }
}

.markdown-content.image-size-medium img:not(.emoji) {
  max-width: calc(min(90%, 512px));
}

.markdown-content.image-size-big img:not(.emoji) {
  max-width: calc(min(90%, 1024px));
}

.container {
  flex: 1;
  overflow-x: hidden;
}

.markdown-content .table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  background: transparent;
}

.markdown-content .code-wrapper {
  padding: 0.5rem;
  font-family: monospace !important;
  background-color: var(--background-secondary);
  border: 1px solid var(--border);
  border-radius: 4px;
}

.setting-markdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2px;
  overflow: auto;
  resize: none;
  background-color: var(--background);
  border: 1px solid var(--border);
}

.copy-button {
  position: absolute;
  top: 0.375rem;
  right: 0.375rem;
  padding: 0.125rem;
  font-family: monospace;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 4px;
  opacity: 0;
  transition: all 0.2s;
}

.copy-button:hover {
  background-color: var(--hover);
}

.markdown-content pre:hover .copy-button {
  opacity: 1;
}

.user-name {
  display: inline-block !important;
  color: var(--text-username);
  word-break: break-all !important;
  white-space: pre-wrap;
  cursor: pointer;
  user-select: text;

  &:hover {
    text-decoration: underline;
  }
}

.user-icon {
  display: inline-block !important;
  vertical-align: text-top;
  word-break: break-all !important;
  user-select: text;
}

.embed-video {
  width: 90%;
  max-width: calc(min(90%, 1024px));
  aspect-ratio: 16/9;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #0000003f;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px 0 #0000003f;
    transform: scale(1.01);
  }
}

.emoji {
  width: 19px;
  height: 19px;
}
