.message-viewer-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  gap: 3px;
}

.message-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.info-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.event-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.warn-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_WARNING.png');
  background-repeat: no-repeat;
  background-position: center;
}

.alert-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_ANNOUNCEMENT.png');
  background-repeat: no-repeat;
  background-position: center;
}

.message-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  gap: 3px;
}

.message-box .username-text {
  align-self: center;
  color: #2f94db;
}

.info-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3px;
}

.header {
  display: flex;
  align-items: center;
  gap: 3px;
}

.header .username-text {
  cursor: pointer;
  color: #2f94db;
}

.header:hover .username-text {
  text-decoration: underline;
}

.header .timestamp-text {
  margin-left: 5px;
  color: #888;
  font-size: 0.9em;
}

.content {
  color: #000;
  user-select: text;
  word-break: break-all;
}
