.message-input-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
}

.message-input-box.warning {
  border-color: #f00;
}

.message-input-box.disabled {
  color: #8f8f8f;
  opacity: 0.5;
  pointer-events: none;
}

.message-input-box .textarea {
  flex: 1;
  resize: none;
  border: none !important;
  overflow: auto;
}

.message-input-box .textarea div {
  height: 100%;
}

.message-input-length-text {
  color: #ccc;
  font-size: 0.9em;
  align-self: flex-end;
  margin-left: 2px;
}
