.message-input-box {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-start;
  max-width: 100%;
  padding: 5px;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
}

.message-input-box.warning {
  border-color: var(--text-warning);
}

.message-input-box.disabled {
  color: var(--text-color-quaternary);
  pointer-events: none;
  opacity: 0.5;
}

.message-input-box .textarea {
  flex: 1;
  overflow: auto;
  resize: none;
  border: none !important;
}

.message-input-box .textarea div {
  height: 100%;
}

.message-input-length-text {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.9rem;
  color: var(--text-color-senary);
}
