.messageInputBox {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
}

.messageInputBox.warning {
  border-color: #f00;
}

.messageInputBox.disabled {
  color: #8f8f8f;
  opacity: 0.5;
  pointer-events: none;
}

.messageInputBox textarea {
  flex: 1;
  resize: none;
  border: none;
}

.messageInputLength {
  color: #ccc;
  font-size: 0.9em;
  align-self: flex-end;
  margin-left: 2px;
}
