.message-viewer-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
  max-width: 100%;
}

.message-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: first baseline;
}

.new-message-alert {
  position: absolute;
  right: 10px;
  height: 24px;
  padding: 0 5px;
  font-size: 0.9em;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background-color: #ff3b3b;
  border-radius: 12px;
  transition:
    color 0.2s ease,
    background-color 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: #cc2121;
  }
}

.info-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.event-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.warn-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_WARNING.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.alert-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_ANNOUNCEMENT.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.message-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  min-width: 0;
}

.message-box .username-text {
  align-self: center;
  color: var(--text-username);
}

.info-box {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 3px;
  align-items: flex-start;
}

.header {
  display: flex;
  gap: 3px;
  align-items: center;
  overflow: hidden;
}

.header .details {
  display: flex;
  gap: 3px;
  align-items: center;
  overflow: hidden;
}

.header .username-text {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-username);
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.header .timestamp-text {
  min-width: fit-content;
  margin-left: 5px;
  font-size: 0.9em;
  color: var(--text-color-quinary);
}

.content {
  color: var(--text-color);
  overflow-wrap: break-word;
  user-select: text;
}
