.message-viewer-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  gap: 5px;
}

.message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 3px;
}

.info-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.event-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.warn-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_WARNING.png');
  background-repeat: no-repeat;
  background-position: center;
}

.alert-icon {
  display: flex;
  width: 12px;
  min-width: 12px;
  height: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_ANNOUNCEMENT.png');
  background-repeat: no-repeat;
  background-position: center;
}

.message-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  gap: 3px;
}

.message-box .username-text {
  align-self: center;
  color: var(--text-username);
}

.info-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3px;
}

.header {
  display: flex;
  align-items: center;
  gap: 3px;
  overflow: hidden;
}

.header .username-text {
  cursor: pointer;
  color: var(--text-username);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .timestamp-text {
  margin-left: 5px;
  font-size: 0.9em;
  color: var(--text-color-quinary);
  min-width: fit-content;
}

.content {
  color: var(--text-color);
  user-select: text;
  word-break: break-word;
}
