.messageViewerWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  margin-top: 0.125rem;
  gap: 0.125rem;
}

.messageWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
}

.gradeIcon {
  display: flex;
}

.infoIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.eventIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_NOTIFY.png');
  background-repeat: no-repeat;
  background-position: center;
}

.warnIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_WARNING.png');
  background-repeat: no-repeat;
  background-position: center;
}

.alertIcon {
  display: flex;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/NT_ANNOUNCEMENT.png');
  background-repeat: no-repeat;
  background-position: center;
}

.messageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  gap: 0.125rem;
}

.messageBox .username {
  align-self: center;
  color: #2f94db;
}

.infoBox {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.125rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.125rem;
}

.header .username {
  cursor: pointer;
  color: #2f94db;
}

.header:hover .username {
  color: #226ba0;
}

.header .timestamp {
  margin-left: 0.2rem;
  color: #888;
  font-size: 12px;
}

.content {
  color: #000;
  user-select: text;
  word-break: break-all;
}
