html,
body {
  background: transparent;
  overflow: hidden;
}

.wrapper {
  background-color: #fff;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-shadow: 0 0 5px 2px #0000003f;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header .title {
  position: relative;
  padding: 5px;
  font-size: 12px;
}

.header .icon {
  display: inline-block;
  min-width: 18px;
  min-height: 18px;
  content: '';
  background-image: url('/rc_logo_small.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.header .close-button {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
  background-position: 0 0;
  background-size: cover;
  background-image: url('/loading_close.webp');
  background-repeat: no-repeat;
}

.close-button:hover,
.close-button:active {
  background-position: -18px 0;
}

.content {
  padding: 10px 5px;
}
