.notify-menu:not(:empty) {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 150px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 1px 1px #00000080;
  overflow: hidden;
}

.notify-menu .option {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 15px;
  color: #333;
}

.notify-menu .option::before {
  position: absolute;
  content: '';
  left: 0px;
  top: 3px;
  min-width: 13px;
  min-height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: center;
}

.notify-menu .option:not(.readonly):hover {
  background-color: #d8dadc;
  cursor: pointer;
}

.notify-menu .option[data-type='notify']::before {
  background-image: url('/icon_notice_friend.png');
}

.notify-menu .option .contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.notify-menu .option .contents img {
  background-size: cover;
  max-width: 20px;
  max-height: 20px;
  margin: 5px 2px;
  border: solid 1px #999999;
}

.notify-menu .option .contents span {
  margin: 5px 0;
}
