.notify-menu:not(:empty) {
  z-index: 10000;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  background-color: var(--background);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.notify-menu .option {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 6px 30px;
  gap: 6px;
  color: var(--text-color);
  border-radius: 3px;
}

.notify-menu .option::before {
  position: absolute;
  content: '';
  left: 6px;
  min-width: 16px;
  min-height: 16px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: center;
  margin-right: 5px;
}

.notify-menu .option:not(.readonly):hover {
  background-color: var(--hover);
  cursor: pointer;
}

.notify-menu .option[data-type='notify']::before {
  background-image: url('/icon_notice_friend.png');
}

.notify-menu .contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 3px 30px;
}

.notify-menu img {
  background-size: cover;
  max-width: 32px;
  max-height: 32px;
  border: solid 1px var(--border);
}

.notify-menu span {
  margin: 5px 0;
}