/* TODO: Remove .Male and .Female */

.male,
.Male {
  height: 16px;
  width: 14px;
  min-height: 16px;
  min-width: 14px;
  background-image: url('/channel/UserIconsMale.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  margin-right: 2px;
}

.female,
.Female {
  height: 16px;
  width: 14px;
  min-height: 16px;
  min-width: 14px;
  background-image: url('/channel/UserIconsFemale.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 0;
  margin-right: 2px;
}

.lv-1 {
  background-position: 0 0;
}

.lv-2 {
  background-position: -14px 0;
}

.lv-3 {
  background-position: -28px 0;
}

.lv-4 {
  background-position: -42px 0;
}

.lv-5 {
  background-position: -56px 0;
}

.lv-6 {
  background-position: -70px 0;
}

.lv-7 {
  background-position: -84px 0;
}

.lv-8 {
  background-position: -98px 0;
}
