.popup-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--popup-background);
}

.popup-wrapper:focus {
  box-shadow: none;
}

.popup-tabs {
  display: flex;
  height: 40px;
  background-color: var(--sidebar);
}

.popup-tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 100px;
  height: 100%;
  padding: 0 10px;
  font-size: 0.9rem;
  text-align: center;
}

.popup-tabs .tab.active {
  background-color: #a7c0e9;
}

.popup-body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.popup-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  padding: 6px 8px;
  background-color: var(--footer-background);
  border-top: 1px solid var(--border);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  overflow: scroll;
}

.dialog-content {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px 30px;
}

/* Button Styles */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 80px;
  height: 27px;
  padding: 0 10px;
  color: var(--text-color-secondary);
  text-align: center;
  cursor: pointer;
  background: linear-gradient(#fdfdfd, #ededed);
  border: 1px solid var(--border);
  border-radius: 5px;
}

.button:hover {
  background: linear-gradient(#ededed, #fdfdfd);
}

.button.blue {
  color: #fff;
  background: #4aabf0;
  border: 1px solid #50a1db;
}

.button.blue:hover {
  background: #53b6f3;
}

.button.blue:active {
  background: #49aaef;
}

.button.green {
  color: #fff;
  background: #0fb11f;
  border: 1px solid #0d9e1b;
}

.button.green:hover {
  background: #12bc23;
}

.button.green:active {
  background: #0fac1e;
}

/* Text Styles */

.label {
  display: inline-block;
  min-width: max-content;
  padding: 5px 5px 5px 0;
  line-height: 1rem;
  overflow-wrap: break-word;
  white-space: normal;
}

.label.error-message {
  color: var(--text-warning);
}

.header {
  display: flex;
  align-items: center;
}

.header::after {
  display: block;
  align-self: center;
  width: 100%;
  height: 1px;
  margin-left: 5px;
  content: '';
  background-color: var(--main-color);
}

.header .label {
  min-width: max-content;
}

.sub-text {
  color: var(--text-color-quaternary);
}

.hint-text {
  font-size: 0.9rem;
  color: var(--text-color-quaternary);
}

.link-text {
  font-weight: 500;
  color: var(--text-link);
  white-space: pre-wrap;
  text-decoration: underline;
  cursor: pointer;
}

.link-text:hover {
  color: var(--text-link-hover);
}

/* Input Styles */
.input-box {
  display: flex;
  width: 100%;
}

.hasInput .label {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.input-box.row,
.input-box.col {
  gap: 0;
}

.input-box input[type='text'],
.input-box input[type='number'] {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2rem;
  padding: 2px;
  background-color: var(--background);
  border: 1px solid var(--border);

  &:not([datatype='read-only'], [readOnly]) {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  }
}

.input-box table {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--background);
  border: 1px solid var(--border);
}

.input-box table thead {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  min-width: max-content;
}

.input-box table tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: max-content;
}

.input-box table tr {
  display: flex;
  flex: 1;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
}

.input-box table thead tr {
  background-color: var(--background-secondary);
}

.input-box table td {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  word-break: break-all;
  border-right: 1px solid var(--border);
}

.input-box table tbody tr.selected td {
  background-color: var(--selected);
}

.input-box table tbody tr:not(.selected):hover td {
  background-color: var(--hover);
}

.input-box table td .name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-quaternary);
  white-space: nowrap;
}

.input-box table td .name.highlight {
  color: var(--text-nickname);
}

.input-box table th {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  font-weight: unset;
  text-align: left;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--border);

  & .resizer {
    position: absolute;
    top: 0;
    right: 0;
    align-self: stretch;
    width: 5px;
    height: 100%;
    cursor: col-resize;
  }

  & .resizer:hover {
    background-color: var(--hover);
  }
}

.input-box table th:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.input-box table .p1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-box textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4rem;
  padding: 2px;
  resize: none;
  background-color: var(--background);
  border: 1px solid var(--border);

  &:not([datatype='read-only'], [readOnly]) {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  }
}

.select-box {
  position: relative;
  display: flex;
  width: 100px;
  min-width: max-content;
  max-width: 100%;
}

.select-box select {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  padding: 2px;
  padding-right: 25px;
  text-decoration: none;
  appearance: none;
  background-color: var(--background);
  border: 1px solid var(--border);

  &:not([datatype='read-only'], [readOnly]) {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  }
}

.select-box::before {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 25px;
  height: 2rem;
  pointer-events: none;
  content: '';
  background-image: url('/channel/spliter.webp');
  background-repeat: no-repeat;
  background-size: contain;
}

.select-box::after {
  position: absolute;
  right: 0;
  bottom: 8px;
  width: 26px;
  height: 12px;
  pointer-events: none;
  content: '';
  background-image: url('/login_combobox_triangle.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.select-box:hover::after {
  background-position: -26px 0;
}

.select-box:active::after {
  background-position: -52px 0;
}

.hidden {
  display: none;
}

/* Dialog Styles */

.dialog-icon {
  display: inline-block;
  width: 36px;
  min-width: 36px;
  height: 36px;
  margin-right: 10px;
  content: '';
  background-image: url('/pic_alert.webp');
  background-repeat: no-repeat;
  background-size: contain;
}

.dialog-icon.alert {
  background-image: url('/pic_alert.webp');
}

.dialog-icon.alert2 {
  background-image: url('/pic_alert2.webp');
}

.dialog-icon.error {
  background-image: url('/pic_error.webp');
}

.dialog-icon.warning {
  background-image: url('/pic_warning.webp');
}

.dialog-icon.info {
  background-image: url('/pic_information.webp');
}

.dialog-icon.success {
  background-image: url('/pic_ok.webp');
}

.dialog-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout Styles */

.col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

/* Apply Styles */

.avatar-wrapper {
  display: flex;
  margin-right: 5px;
}

.avatar-picture {
  position: relative;
  align-self: center;
  min-width: 40px;
  min-height: 40px;
  object-fit: cover;
  background-image: url('/logo_server_def.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.avatar-picture::before {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  min-width: 42px;
  min-height: 42px;
  content: '';
  background-image: url('/channel/server_logo_border.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.info-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.split {
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid var(--border);
}

.sound-effect-preview {
  min-width: 17px;
  min-height: 17px;
  cursor: pointer;
  background-image: url('/playback.webp');
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

.sound-effect-preview:hover {
  background-position: -17px;
}

.sound-effect-preview:active {
  background-position: -34px;
}

.sound-effect-enable {
  cursor: pointer;
}