.popup-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--popup-background);
}

.popup-wrapper:focus {
  box-shadow: none;
}

.popup-tabs {
  background-color: var(--sidebar);
  height: 40px;
  display: flex;
}

.popup-tabs .tab {
  height: 100%;
  width: max-content;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  font-size: 0.9em;
  text-align: center;
}

.popup-tabs .tab.active {
  background-color: #a7c0e9;
}

.popup-body {
  flex: 1;
  min-height: 0;
  display: flex;
}

.popup-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 6px 8px;
  gap: 10px;
  background-color: var(--footer-background);
  border-top: 1px solid var(--border);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px 30px;
  overflow: scroll;
}

.dialog-content {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 20px 30px;
}

/* Button Styles */

.button {
  min-width: 80px;
  text-align: center;
  height: 27px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: max-content;
  padding: 0 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background: linear-gradient(#fdfdfd, #ededed);
  color: var(--text-color-secondary);
}

.button:hover {
  background: linear-gradient(#ededed, #fdfdfd);
}

.button.blue {
  color: #fff;
  background: #4aabf0;
  border: 1px solid #50a1db;
}

.button.blue:hover {
  background: #53b6f3;
}

.button.blue:active {
  background: #49aaef;
}

.button.green {
  color: #fff;
  background: #0fb11f;
  border: 1px solid #0d9e1b;
}

.button.green:hover {
  background: #12bc23;
}

.button.green:active {
  background: #0fac1e;
}

/* Text Styles */

.label {
  display: inline-block;
  min-width: max-content;
  padding: 5px 5px 5px 0;
  line-height: 1em;
  white-space: normal;
  word-break: break-word;
}

.label.error-message {
  color: var(--text-warning);
}

.header {
  display: flex;
  align-items: center;
}

.header::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  margin-left: 5px;
  background-color: var(--main-color);
  align-self: center;
}

.header .label {
  min-width: max-content;
}

.sub-text {
  color: var(--text-color-quaternary);
}

.hint-text {
  color: var(--text-color-quaternary);
  font-size: 0.9em;
}

.link-text {
  color: var(--text-link);
  font-weight: 500;
  text-decoration: underline;
  white-space: pre-wrap;
  cursor: pointer;
}

.link-text:hover {
  color: var(--text-link-hover);
}

/* Input Styles */
.input-box {
  width: 100%;
  display: flex;
}

.input-box.row,
.input-box.col {
  gap: 0;
}

.input-box input[type='text'],
.input-box input[type='number'] {
  border: 1px solid var(--border);
  padding: 2px;
  background-color: var(--background);
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2em;

  &:not([datatype='read-only']):not([readOnly]) {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  }
}

.input-box table {
  background-color: var(--background);
  display: flex;
  border: 1px solid var(--border);
  flex-direction: column;
  overflow-y: auto;
}

.input-box table thead {
  position: sticky;
  top: 0;
  display: flex;
  width: max-content;

  & tr {
    background-color: var(--background-secondary);
  }
}

.input-box table tbody {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.input-box table tr {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
}

.input-box table tbody tr:not(.selected):hover td {
  background-color: var(--hover);
}

.input-box table tbody tr.selected td {
  background-color: var(--selected);
}

.input-box table tr th {
  height: auto;
  width: 100%;
  background-color: var(--background-secondary);
  border-right: 1px solid var(--border);
  text-align: left;
  font-weight: unset;
  display: flex;
  align-items: center;

  & .label {
    padding: 5px;
    flex: 1;
  }

  & .resizer {
    width: 5px;
    align-self: stretch;
    cursor: col-resize;
  }

  & .resizer:hover {
    background-color: var(--hover);
  }
}

.input-box table tr td {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  border-right: 1px solid var(--border);
  padding: 5px;
  overflow: hidden;
  word-break: break-all;
}

.input-box table tr td .name {
  color: var(--text-color-quaternary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-box table tr td .name.highlight {
  color: var(--text-nickname);
}

.input-box table tr th:hover {
  cursor: pointer;
  background-color: var(--hover);
}

.input-box table .p1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-box textarea {
  border: 1px solid var(--border);
  padding: 2px;
  background-color: var(--background);
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4em;
  resize: none;

  &:not([datatype='read-only']):not([readOnly]) {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  }
}

.select-box {
  display: flex;
  min-width: max-content;
  width: 100px;
  max-width: 100%;
  position: relative;
}

.select-box select {
  border: 1px solid var(--border);
  padding: 2px;
  padding-right: 25px;
  background-color: var(--background);
  position: relative;
  display: flex;
  width: 100%;
  height: 2em;
  appearance: none;
  text-decoration: none;

  &:not([datatype='read-only']):not([readOnly]) {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  }
}

.select-box::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2em;
  width: 25px;
  z-index: 1;
  background-image: url('/channel/spliter.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.select-box::after {
  content: '';
  position: absolute;
  bottom: 8px;
  right: 0;
  width: 26px;
  height: 12px;
  background-image: url('/login_combobox_triangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.select-box:hover::after {
  background-position: -26px 0;
}

.select-box:active::after {
  background-position: -52px 0;
}

.hidden {
  display: none;
}

/* Dialog Styles */

.dialog-icon {
  margin-right: 10px;
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url('/pic_alert.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 36px;
}

.dialog-icon.alert {
  background-image: url('/pic_alert.png');
}

.dialog-icon.alert2 {
  background-image: url('/pic_alert2.png');
}

.dialog-icon.error {
  background-image: url('/pic_error.png');
}

.dialog-icon.warning {
  background-image: url('/pic_warning.png');
}

.dialog-icon.info {
  background-image: url('/pic_information.png');
}

.dialog-icon.success {
  background-image: url('/pic_ok.png');
}

.dialog-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout Styles */

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* Apply Styles */

.avatar-wrapper {
  display: flex;
  margin-right: 5px;
}

.avatar-picture {
  position: relative;
  object-fit: cover;
  align-self: center;
  min-width: 40px;
  min-height: 40px;
  background-image: url('/logo_server_def.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.avatar-picture::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  min-width: 42px;
  min-height: 42px;
  background-image: url('/channel/server_logo_border.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.split {
  width: 100%;
  height: 0px;
  margin: 5px 0;
  border-bottom: 1px solid var(--border);
}

.sound-effect-preview {
  min-height: 17px;
  min-width: 17px;
  background-image: url('/playback.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  cursor: pointer;
}

.sound-effect-preview:hover {
  background-position: -17px;
}

.sound-effect-preview:active {
  background-position: -34px;
}

.sound-effect-enable {
  cursor: pointer;
}
