.register {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
}

.loading-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 12px;
  background-image: url('/icon_loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.register-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.label {
  display: inline-block;
  width: 80px;
  padding-right: 10px;
  font-size: 0.9rem;
  color: var(--text-color-secondary);
  text-align: right;
}

.warn-text {
  margin-left: 80px;
  color: var(--text-warning);
}

.hint-text {
  margin-left: 80px;
  color: var(--text-color-quaternary);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.input {
  position: relative;
  flex: 1;
  height: 29px;
  padding: 8px;
  border: 1px solid var(--border);
  box-shadow: 1px 1px 3px rgb(0 0 0 / 10%) inset;
  transition: box-shadow 0.3s ease;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.submit-button {
  width: 200px;
  height: 42px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  background-color: #1680ce;
  border: none;
  border-radius: 4px;
}

.submit-button:hover {
  background-color: #419ddd;
}

.submit-button:active {
  background-color: #1680ce;
}

.submit-button:disabled {
  cursor: not-allowed;
  background-color: #1680ce;
  opacity: 0.6;
}

/* Footer */

.register-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 15px;
  margin-top: auto;
  font-size: 0.9rem;
  color: var(--text-color-quaternary);
  background-color: var(--footer-background);
  border-top: 1px solid var(--border);
}

.back-to-login {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  cursor: pointer;
}

.back-to-login:hover {
  color: #0073c6;
}

.back-to-login::before {
  min-width: 14px;
  min-height: 14px;
  margin-right: 5px;
  vertical-align: middle;
  content: '';
  background-repeat: no-repeat;
  background-position: 0 0;
}