.server {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: 100%;
  min-height: 0;
}

/* Content */

.server-body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.scroll-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  overflow-y: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-width: 280px;
  min-height: 0;
  background-color: var(--sidebar);
}

.sidebar-header {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid var(--border);
}

.avatar-box {
  padding: 3px;
  cursor: pointer;
}

.avatar-picture {
  position: relative;
  min-width: 50px;
  min-height: 50px;
  cursor: pointer;
  object-fit: cover;
  background-image: url('/logo_server_def.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 2px 2px var(--shadow);
}

.avatar-picture::before {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  min-width: 52px;
  min-height: 52px;
  content: '';
  background-image: url('/channel/server_logo_border.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.base-info-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  overflow: hidden;
}

.base-info-wrapper .box {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
}

.verify-icon {
  min-width: 12px;
  min-height: 12px;
  background-image: url('/icon_verify.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.name-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  color: var(--text-color-quaternary);
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
}

.id-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 75px;
  color: var(--text-color-quaternary);
  text-shadow: 0 1px 0 #fff;
}

.member-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 55px;
  color: var(--text-color-quaternary);
  text-shadow: 0 1px 0 #fff;
}

.id-text::before {
  position: relative;
  min-width: 12px;
  min-height: 12px;
  margin-right: 2px;
  content: '';
  background-image: url('/channel/ID.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.member-text::before {
  position: relative;
  min-width: 12px;
  min-height: 12px;
  margin-right: 2px;
  content: '';
  background-image: url('/channel/member.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.options {
  display: flex;
  flex: 1;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.options .option:first-child:hover::before,
.options .option:last-child:hover::before {
  background-position: -36px 0;
}

.invitation-icon {
  min-width: 20px;
  min-height: 16px;
  cursor: pointer;
  background-image: url('/channel/icon_invite_friend.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.invitation-icon:hover {
  background-position: -20px 0;
}

.invitation-icon:active {
  background-position: -40px 0;
}

.setting-icon {
  position: relative;
  min-width: 24px;
  min-height: 16px;
  cursor: pointer;
  background-image: url('/channel/icon_group_option.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.setting-icon:hover {
  background-position: -24px 0;
}

.setting-icon:active {
  background-position: -48px 0;
}

.saperator-1 {
  min-width: 2px;
  min-height: 16px;
  background-image: url('/icon_v_split.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.saperator-2 {
  min-height: 8px;
  cursor: ns-resize;
  background-image: url('/channel/chn_tree_split.webp');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.saperator-3 {
  min-height: 1px;
  background-image: url('/channel/spliter_SpecialMenu.webp');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.section-title-text {
  padding: 5px 10px;
  color: var(--text-color-senary);
  text-shadow: 0 1px #fff;
}

.current-channel-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
}

.current-channel-icon {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  margin-left: 8px;
  background-image: url('/channel/NetworkStatus.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.current-channel-icon.status1 {
  background-position: -20px 0;
}

.current-channel-icon.status2 {
  background-position: -40px 0;
}

.current-channel-icon.status3 {
  background-position: -60px 0;
}

.current-channel-icon.status4 {
  background-position: -80px 0;
}

.current-channel-icon:not(.current-channel-ping, .current-channel-text):hover .current-channel-ping {
  opacity: 1;
}

.current-channel-text {
  margin-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  color: var(--text-color-quinary);
  white-space: nowrap;
}

.queue-list {
  display: flex;
  flex-direction: column;
}

.channel-list {
  display: flex;
  flex-direction: column;
}

.channel-tab {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  height: 25px;
  padding: 2px 20px 2px 10px;
  margin-right: 5px;
}

.channel-tab:hover {
  background-color: var(--hover);
}

.channel-list .channel-list .channel-tab {
  padding-left: 25px;
}

.channel-tab .tab-icon {
  display: inline-block;
  min-width: 14px;
  min-height: 14px;
  cursor: pointer;
  background-image: url('/channel/channelIcon.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.channel-tab .tab-icon.expanded {
  background-position: -14px 0;
}

.channel-tab .tab-icon.member {
  background-position: 0 -14px;
}

.channel-tab .tab-icon.member.expanded {
  background-position: -14px -14px;
}

.channel-tab .tab-icon.private {
  background-position: -28px 0;
}

.channel-tab .tab-icon.private.expanded {
  background-position: -28px -14px;
}

.channel-tab .tab-icon.readonly {
  background-position: -42px 0;
}

.channel-tab .tab-icon.readonly.expanded {
  background-position: -42px -14px;
}

.channel-tab .tab-icon.lobby {
  background-position: -56px 0;
}

.channel-tab .tab-icon.lobby.expanded {
  background-position: -56px -14px;
}

.channel-tab .channel-tab-label {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-secondary);
  white-space: nowrap;
}

.channel-tab .channel-tab-label.is-reception-lobby {
  color: var(--text-warning);
}

.channel-tab .channel-user-count-text {
  color: #808080;
}

.user-list {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-shadow: 0 1px 0 #fff;
}

.user-tab {
  position: relative;
  display: flex;
  gap: 2px;
  align-items: center;
  height: 25px;
  padding: 2px 20px 2px 10px;
  margin-right: 5px;
  text-shadow: 0 1px #fff;
}

.user-tab:not(.selected):hover {
  background-color: var(--hover);
}

.user-tab .user-queue-position {
  color: var(--text-color-quaternary);
}

.user-tab .user-tab-name {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-quaternary);
  white-space: nowrap;
}

.user-tab .user-tab-name.member {
  color: var(--text-nickname);
}

.channel-list .channel-list .user-list .user-tab {
  padding-left: 25px;
}

.user-tab.selected,
.channel-tab.selected {
  background-color: var(--selected);
}

.user-audio-state {
  left: 0;
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/audioState.webp');
  background-repeat: no-repeat;
  background-position: -36px 0;
  background-size: auto;
}

.user-text-state {
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/audioState.webp');
  background-repeat: no-repeat;
  background-position: -36px 0;
  background-size: auto;
}

.user-audio-state.loading {
  background-image: url('/loading.gif');
  background-position: 0 0;
  background-size: cover;
}

.user-audio-state.play {
  background-position: -24px 0;
}

.user-audio-state.muted {
  background-position: -12px 0;
}

.user-text-state.muted {
  background-position: 0 0;
}

.queue-position {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-quaternary);
  white-space: nowrap;
}

.queue-seconds-remaining-box {
  display: flex;
  align-items: center;
  padding-right: 3px;
  padding-left: 3px;
  margin-left: auto;
  color: var(--text-color-quaternary);
  background-color: var(--notify-toaster-background);
  border: 1px solid var(--notify-toaster-border);
  border-radius: 3px;
}

.my-location-icon {
  position: absolute;
  right: 2px;
  min-width: 15px;
  min-height: 15px;
  cursor: pointer;
  background-image: url('/mylocation.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Content */

.content-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.content-layout.classic {
  flex-direction: column !important;
}

.content-layout.three-line {
  flex-direction: row !important;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 500px;
  min-height: 0;
}

.announcement-area {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 60px;
  padding: 10px;
  overflow-y: auto;
}

.bottom-area {
  display: flex;
  flex: 5;
  flex-direction: column;
  min-width: 260px;
  min-height: 200px;
  overflow-y: hidden;
  background-color: var(--background-secondary);
}

.widget-bar {
  position: absolute;
  right: 10px;
  z-index: 1000;
  display: flex;
  gap: 5px;
  align-items: center;
  overflow: hidden;
  background: #fff;
  border-top: unset;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: var(--box-shadow);
}

.widget-close {
  height: 16px;
}

.widget-bar-spliter {
  width: 2px;
  height: 16px;
  background-image: url('/channel/widgetbar_spliter.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.widget-bar-item {
  display: flex;
  gap: 5px;
  place-items: center;
  padding: 3px 25px;
  cursor: pointer;
}

.widget-close .widget-bar-item {
  padding: unset;
}

.widget-bar-item-icon {
  display: flex;
  width: 12px;
  height: 12px;
  background-position: 0 0;
  background-size: auto;
}

.widget-bar-item-active .widget-bar-item-icon,
.widget-bar-item:active .widget-bar-item-icon {
  background-position: -24px 0;
}

.widget-close .widget-bar-item-icon {
  width: 16px;
  height: 16px;
  background-position: 0 0;
}

.widget-bar-item:hover .widget-bar-item-icon {
  background-position: -12px 0;
}

.widget-close .widget-bar-item:hover .widget-bar-item-icon {
  background-position: -20px 0;
}

.widget-close .widget-bar-item:active .widget-bar-item-icon {
  background-position: -20px 0;
}

.widget-bar-item-icon.announcement-icon {
  background-image: url('/channel/widgetbar_bullet.webp');
}

.widget-bar-item-icon.rcshow-icon {
  background-image: url('/channel/widgetbar_rcshow.webp');
}

.widget-bar-item-icon.more-icon {
  background-image: url('/channel/widgetbar_more.webp');
}

.widget-bar-item-icon.arrow-down-icon {
  width: 20px;
  height: 16px;
  background-image: url('/channel/widgetBar_Stretch.webp');
}

.widget-bar-item-text {
  font-size: 12px;
  color: #333;
  white-space: nowrap;
  user-select: none;
}

.widget-bar-item-active .widget-bar-item-text {
  font-weight: bold;
  color: #000;
}

.message-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 10px 0;
  overflow: hidden scroll;
}

.broadcast-area {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 10px;
  display: flex;
  justify-content: center;
  width: calc(100% - 20px);
  min-height: 25px;
  padding: 3px;
  background-color: var(--notify-toaster-background);
  border: 1.5px solid var(--notify-toaster-border);
  border-radius: 2px;
}

.broadcast-area .close-button {
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  cursor: pointer;
  background-image: url('/loading_close.webp');
  background-position: 0 0;
  background-size: cover;
  border: none;
}

.close-button:hover {
  background-position: -18px 0;
}

.close-button:active {
  background-position: -36px 0;
}

.input-area {
  position: relative;
  display: flex;
  min-height: 70px;
  max-height: 50%;
  padding: 0 10px 10px;
}

.button-area {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  background-color: var(--background-secondary);
  background-image: url('/channel/chn_toolbar_bg.webp');
  background-repeat: no-repeat;
  background-size: 100% 105%;
}

.mic-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 154px;
  max-width: 154px;
  min-height: 50px;
  max-height: 50px;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-image: url('/channel/mic_state_menu.webp');
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: auto;
}

.mic-button.normal {
  background-image: url('/channel/mic_state_normal.webp');
}

.mic-button.queuing {
  background-image: url('/channel/mic_state_queuing.webp');
}

.mic-button.speaking {
  background-image: url('/channel/mic_state_speaking.webp');
}

.mic-button:hover {
  background-position: -154px 2px;
}

.mic-button:active {
  background-position: -308px 2px;
}

.mic-button .mic-icon {
  min-width: 24px;
  min-height: 30px;
  background-image: url('/channel/icon_mic_state.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.mic-button.queuing .mic-icon {
  background-position: -24px 0;
}

.mic-button.muted .mic-icon {
  background-position: -72px 0;
}

.mic-button.speaking:not(.muted) .mic-icon {
  background-image: url('/channel/icon_speaking_vol.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.mic-button.speaking:not(.muted) .mic-icon.level1 {
  background-position: -24px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level2 {
  background-position: -48px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level3 {
  background-position: -72px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level4 {
  background-position: -96px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level5 {
  background-position: -120px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level6 {
  background-position: -144px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level7 {
  background-position: -168px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level8 {
  background-position: -192px 0;
}

.mic-button.speaking:not(.muted) .mic-icon.level9 {
  background-position: -216px 0;
}

.mic-text {
  font-size: 1.1rem;
  color: #2594ca;
}

.mic-sub-text {
  font-size: 12px;
  color: #777;
}

.mic-button.queuing .mic-text {
  color: #dda11e;
}

.mic-button.speaking .mic-text {
  color: #62a35b;
}

.mic-button::after {
  display: block;
  min-width: 11px;
  min-height: 7px;
  cursor: pointer;
  content: '';
  background-image: url('/channel/icon_mic_triangle.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mic-button.no-selection::after {
  background-image: none;
}

.mic-button.queuing::after {
  background-position: -11px 0;
}

.mic-button.speaking::after {
  background-position: -22px 0;
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.voice-mode-dropdown {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  color: var(--text-color-quaternary);
  text-align: center;
  cursor: pointer;
  background: none;
  border-radius: 4px;

  &::after {
    display: block;
    min-width: 8px;
    min-height: 8px;
    cursor: pointer;
    content: '';
    background-image: url('/channel/triangle.webp');
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(180deg);
  }

  &:hover::after {
    background-position: -9px 0;
  }

  &:active::after {
    background-position: -18px 0;
  }
}

.bkg-mode-btn {
  display: flex;
  align-items: center;
  color: var(--text-color-secondary);
  cursor: pointer;

  &::before {
    min-width: 18px;
    min-height: 18px;
    content: '';
    background-image: url('/channel/music_bkg.webp');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &.active::before {
    background-position: -18px 0;
    animation: bkg-blink 1s steps(2, jump-none) infinite;
  }
}

@keyframes bkg-blink {
  0% {
    background-position: -18px 0;
  }

  3.8% {
    background-position: -36px 0;
  }

  7.6% {
    background-position: -54px 0;
  }

  11.4% {
    background-position: -72px 0;
  }

  15.2% {
    background-position: -90px 0;
  }

  19% {
    background-position: -108px 0;
  }

  22.8% {
    background-position: -126px 0;
  }

  26.6% {
    background-position: -144px 0;
  }

  30.4% {
    background-position: -162px 0;
  }

  34.2% {
    background-position: -180px 0;
  }

  38% {
    background-position: -198px 0;
  }

  41.8% {
    background-position: -216px 0;
  }

  45.6% {
    background-position: -234px 0;
  }

  49.4% {
    background-position: -252px 0;
  }

  53.2% {
    background-position: -234px 0;
  }

  57% {
    background-position: -216px 0;
  }

  60.8% {
    background-position: -198px 0;
  }

  64.6% {
    background-position: -180px 0;
  }

  68.4% {
    background-position: -162px 0;
  }

  72.2% {
    background-position: -144px 0;
  }

  76% {
    background-position: -126px 0;
  }

  79.8% {
    background-position: -108px 0;
  }

  83.6% {
    background-position: -90px 0;
  }

  87.4% {
    background-position: -72px 0;
  }

  91.2% {
    background-position: -54px 0;
  }

  95% {
    background-position: -36px 0;
  }

  98.8% {
    background-position: -18px 0;
  }

  100% {
    background-position: -18px 0;
  }
}

.mic-btn {
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  cursor: pointer;
  background-image: url('/channel/Mic.webp');
  background-repeat: no-repeat;
  background-position: 0 0;

  &::after {
    position: absolute;
    min-width: 18px;
    min-height: 18px;
    content: '';
    background-image: url('/channel/Mic.webp');
    background-repeat: no-repeat;
    background-position: -16px 0;
    opacity: 0;
  }

  &.muted::after {
    opacity: 1;
  }
}

.mic-mode-dropdown-btn {
  position: relative;
  width: 8px;
  min-width: 8px;
  height: 8px;
  min-height: 8px;
  cursor: pointer;

  &::after {
    position: absolute;
    min-width: 8px;
    min-height: 8px;
    content: '';
    background-image: url('/channel/triangle.webp');
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(180deg);
  }

  &:hover::after {
    background-position: -9px 0;
  }

  &:active::after {
    background-position: -18px 0;
  }
}

.mic-mode-menu {
  position: absolute;
  right: 0;
  bottom: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  padding: 10px;
  overflow: hidden;
  cursor: default;
  background-color: var(--background);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
}

.mic-mode-menu .voice-threshold-input-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.mic-mode-menu .voice-threshold-input {
  position: relative;
  flex: 1;
  height: 8px;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: inset 0 2px 2px -2px #0000001f;

  &::-webkit-slider-thumb {
    width: 8px;
    height: 20px;
    margin-top: -10px;
    appearance: none;
    cursor: pointer;
    background-image: url('/channel/Thresholdslider.webp');
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('/channel/ThresholdLine.webp');
    background-repeat: repeat-x;
    background-position: 50% 0;
  }
}

.mic-mode-menu .voice-state-icon {
  min-width: 12px;
  min-height: 12px;
  background-image: url('/channel/audioState.webp');
  background-repeat: no-repeat;
  background-position: -24px 0;
  background-size: auto;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.speaker-btn {
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  cursor: pointer;
  background-image: url('/channel/speaker.webp');
  background-repeat: no-repeat;
  background-position: 0 0;

  &::after {
    position: absolute;
    min-width: 18px;
    min-height: 18px;
    content: '';
    background-image: url('/channel/speaker.webp');
    background-repeat: no-repeat;
    background-position: -18px 0;
    opacity: 0;
  }

  &.muted::after {
    opacity: 1;
  }
}

.record-mode {
  display: flex;
  flex-direction: row;
}

.record-mode-text {
  display: none;
  align-items: center;
  margin-left: 5px;
  color: var(--text-color-quaternary);

  &.active {
    display: flex;
  }
}

.record-mode-btn {
  position: relative;
  min-width: 18px;
  min-height: 18px;
  cursor: pointer;
  background-image: url('/channel/recorder.webp');
  background-repeat: no-repeat;
  background-position: 0 0;

  &.active {
    background-position: -18px 0;
  }

  &.active::after {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: -1;
    min-width: 28px;
    min-height: 28px;
    content: '';
    background-image: url('/channel/recorder_bg.webp');
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@keyframes rec-blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}

.mic-volume-container,
.speaker-volume-container {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
}

.mic-volume-container .volume-slider,
.speaker-volume-container .volume-slider {
  position: absolute;
  bottom: -3px;
  left: -3px;
  z-index: 10000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
  height: fit-content;
  padding: 3px;
  background-color: var(--background);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
}

.mic-volume-container:has(.mic-btn:hover) .volume-slider,
.mic-volume-container:has(.volume-slider:hover) .volume-slider,
.speaker-volume-container:has(.speaker-btn:hover) .volume-slider,
.speaker-volume-container:has(.volume-slider:hover) .volume-slider {
  display: flex;
}

.slider-container {
  position: relative;
  display: flex;
  width: 4px;
  height: 120px;
  margin: 10px;
  border-radius: 2px;
}

.slider {
  position: absolute;
  top: calc(50% - 4px);
  left: -58px;
  width: 120px;
  height: 4px;
  appearance: none;
  background-color: var(--border);
  border-radius: 2px;
  transform: rotate(-90deg);
}

.slider::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  appearance: none;
  cursor: pointer;
  background-color: var(--background);
  border: 2px solid var(--border-secondary);
  border-radius: 50%;
}

.sidebar-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-footer .navegate-tab {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--text-color-quinary);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.sidebar-footer .navegate-tab.active {
  color: var(--text-color-quaternary);
  transform: translateY(-1px);
}

.sidebar-footer .navegate-tab::before {
  display: inline-block;
  width: 15px;
  min-width: 15px;
  height: 15px;
  min-height: 15px;
  margin-right: 4px;
  content: '';
  background-repeat: no-repeat;
  background-size: auto;
}

.sidebar-footer .navegate-tab:first-child::before {
  min-width: 18px;
  min-height: 18px;
  background-image: url('/channel/rdb_cur_channel.webp');
  background-position: 0 0;
  background-size: auto;
}

.sidebar-footer .navegate-tab:last-child::before {
  min-width: 18px;
  min-height: 18px;
  background-image: url('/channel/rdb_all_channel.webp');
  background-position: 0 0;
  background-size: auto;
}

.sidebar-footer .navegate-tab.active::before {
  background-position: 0 -18px;
}

.sidebar-footer .navegate-tab.active::after {
  position: absolute;
  top: -15px;
  min-width: 70px;
  min-height: 20px;
  content: '';
  background-image: url('/channel/switch_arrow.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
  transition: left 0.2s ease;
}

.screen-preview {
  position: relative;
  padding: 8px;
  margin: 8px 0;
  background-color: var(--shadow);
  border: 1px solid var(--border-color, var(--text-color-secondary));
  border-radius: 8px;
}

.screen-preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 0.9rem;
}

.screen-preview-stop {
  padding: 4px 8px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--border-secondary);
  border-radius: 6px;
}

.screen-preview-video {
  width: 100%;
  max-height: 40vh;
  object-fit: contain;
  border-radius: 6px;
}
