.placeholder {
  min-height: 27px;
}

.button-list-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 150px;
  background-image: url('/channel/BkgrdImageView.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #777;
}

.middle-area {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  background-image: url('/channel/dialog_body_bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.button-item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
  cursor: pointer;
}

.button-item-icon {
  width: 44px;
  height: 44px;
  padding: 0;
  background: none;
  background-position: -44px 0;
  border: none;
}

.button-item-box:nth-child(1) .button-item-icon {
  background-image: url('/channel/widget_vote.webp');
}

.button-item-box:nth-child(2) .button-item-icon {
  background-image: url('/channel/widget_chnEvent.webp');
}

.button-item-box:nth-child(3) .button-item-icon {
  background-image: url('/channel/widget_flower.webp');
}

.button-item-box:nth-child(4) .button-item-icon {
  background-image: url('/channel/widget_lottery.webp');
}

.button-item-box:nth-child(5) .button-item-icon {
  background-image: url('/channel/widget_Show.webp');
}

.button-item-icon img {
  width: 44px;
  height: 44px;
}

.button-item-text {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
}
