.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.left {
  display: flex;
  height: 100%;
  min-height: 0;
  background-image: url('/setting_left_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid #b4dbec;
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden auto;
}

/* Tabs */

.tabs {
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 100%;
}

.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 2px);
  min-width: 100%;
  min-height: 28px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #fff0;
  border-right: 1px solid #fff0;
  border-bottom: 1px solid #fff0;
}

.tabs .tab:first-child {
  margin-top: 15px;
}

.tabs .tab.active {
  background-color: var(--popup-background);
  border-top: 1px solid #b4dbec;
  border-right: 1px solid #fff0;
  border-bottom: 1px solid #b4dbec;
}

.header-bar {
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  border-width: 1px;
  border-radius: 5px;
}

.link-text {
  color: var(--text-link);
  transition: color 0.2s;
}

.link-text:hover {
  color: var(--text-link-hover);
  text-decoration: underline;
  cursor: pointer;
}

/* Basic Info Section */

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
}

.avatar-picture {
  position: relative;
  min-width: 100px;
  min-height: 100px;
  cursor: pointer;
  object-fit: cover;
  background-image: url('/logo_server_def.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid var(--border);
}

.avatar-picture::before {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  min-width: 102px;
  min-height: 102px;
  content: '';
}

.wealth-coin-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('/golden_pea.webp');
  background-size: cover;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: var(--border);
}

.note-text {
  margin-top: 3px;
  text-align: right;
}

.search-box {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: var(--background);
  border: 1px solid var(--border);
}

.search-icon {
  min-width: 17px;
  min-height: 17px;
  margin: 5px;
  background-image: url('/channel/channel_search.webp');
  background-position: 0 0;
  background-size: cover;
}

.search-box:hover:not(:has(.search-prev:hover, .search-next:hover)) .search-icon {
  background-position: -17px 0;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none !important;
  border-left: 1px solid var(--border) !important;
}

.toolbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 4px;
}

.toolbar .button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding: 0 4px;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 3px;
}

.toolbar .button:hover {
  background-color: var(--hover);
}

.toolbar .button:active {
  background-color: var(--selected);
}

.toolbar .button.active {
  color: #fff;
  background-color: #a7c0e9;
  border-color: #50a1db;
}

.toolbar .button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6496fa4d;
}

.input-dropdown {
  position: absolute;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 5px;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.link-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 4px;
  cursor: pointer;
}
