.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
}

.content .user-profile-content {
  padding: 10px;
}

.user-recent-visits-private {
  background-image: url('/card/bg_list_tips.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 76px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #436da1;
  text-align: center;
}

.user-about-me {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  color: var(--text-color-quaternary);
  padding: 10px 15px;
}

.user-about-me::before,
.user-about-me::after {
  content: '';
  min-height: 19px;
  min-width: 23px;
  display: block;
  background-size: cover;
}

.user-about-me::before {
  background-image: url('/card/bg_left_quote.png');
  background-repeat: no-repeat;
  align-self: flex-start;
  margin-right: 10px;
}

.user-about-me::after {
  background-image: url('/card/bg_right_quote.png');
  background-repeat: no-repeat;
  align-self: flex-end;
  margin-left: 10px;
}

.user-about-me-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  user-select: text;
  word-break: break-all;
  cursor: text;
}

.window-action-buttons,
.user-account-text,
.user-info-text,
.user-signature,
.avatar-picture,
.no-drag,
.tab {
  -webkit-app-region: no-drag;
}

/* User Profile */

.user-profile {
  flex: unset;
  height: 100%;
  justify-content: space-between;
  background-image: unset !important;
}

.profile-box {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.header {
  color: #fff;
  -webkit-app-region: drag;
  background-image: url('/im/wallpaper.png');
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-height: 225px;
  padding-bottom: 60px;
  display: flex;
  position: relative;
  padding-top: 30px;
}

.window-action-buttons {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  top: 10px;
}

.minimize-btn,
.close-btn {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: 0 0;
  cursor: pointer;
  background-size: cover;
}

.minimize-btn {
  background-image: url('/im/btn-min.png');
  background-repeat: no-repeat;
}

.close-btn {
  background-image: url('/im/btn-close.png');
  background-repeat: no-repeat;
}

.minimize-btn:hover,
.close-btn:hover {
  background-position: -14px 0;
}

.minimize-btn:active,
.close-btn:active {
  background-position: -28px 0;
}

.avatar-picture {
  position: relative;
  min-width: 74px;
  min-height: 74px;
  object-fit: cover;
  display: inline-block;
  background-image: url('/im/IMLogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: all 0.3s ease-in-out;
}

.avatar-picture::after {
  position: absolute;
  content: '';
  top: -7px;
  left: -7px;
  width: 88px;
  height: 88px;
  background-image: url('/im/avatar_border.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}

.avatar-picture.editable {
  cursor: pointer;
}

.avatar-picture.editable:hover {
  box-shadow: 0 0 3px 6px rgb(255 255 255 / 100%);
  border-radius: 3px;
}

.user-name-text {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  cursor: text;
  user-select: text;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-account-text {
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  user-select: text;
}

.user-info-text {
  font-size: 1em;
  color: #fff;
}

.user-signature {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  text-align: center;
  color: #fff;
  cursor: text;
  user-select: text;
  display: flex;
  max-height: 15px;
  overflow: auto;
}

.user-signature::-webkit-scrollbar-thumb {
  display: none;
}

.tabs {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
}

.tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 50%;
  padding-bottom: 6px;
  gap: 5px;
  cursor: pointer;
  background-image: url('/im/userpage_tab.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: 0 0;
}

.tabs .tab.selected {
  background-position: 0 -38px;
}

.tabs .tab.editable {
  cursor: not-allowed;
}

.tabs .tab.about::before {
  content: '';
  min-height: 14px;
  min-width: 13px;
  background-image: url('/im/icon-about.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tabs .tab.groups::before {
  content: '';
  min-height: 14px;
  min-width: 18px;
  background-image: url('/im/icon-group.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Server List */

.server-list {
  padding: 5px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.server-card {
  background-color: var(--background-secondary);
  border: 1px solid #fff0;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: calc(50% - 2.5px);
  padding: 5px;
  align-items: center;
  border: 1px solid var(--border);
  cursor: pointer;
}

.server-card:hover {
  border: 1px solid var(--border);
}

.server-avatar-picture {
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  cursor: pointer;
}

.server-info-box {
  flex-direction: column;
  flex: 1;
  gap: 5px;
  display: flex;
  overflow: hidden;
  min-height: 33px;
  justify-content: space-between;
}

.server-name-text {
  display: flex;
  align-items: center;
  font-size: 1em;
  line-height: 1em;
  color: var(--text-color-quaternary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contribution-value-text {
  display: flex;
  align-items: center;
  color: var(--text-color-quaternary);
  min-width: 30px;
}

.contribution-value-text::before {
  display: block;
  content: '';
  min-width: 12px;
  min-height: 12px;
  margin-right: 2px;
  background-image: url('/card/icon_contribu.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.display-id-text {
  display: flex;
  align-items: center;
  color: var(--text-color-quaternary);
}

.display-id-text::before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  margin-right: 2px;
  background-image: url('/card/icon_id.jpg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.is-owner::before {
  display: block;
  content: '';
  width: 13px;
  height: 15px;
  margin-right: 5px;
  background-image: url('/icon_creator.png');
  background-size: contain;
  background-position: 0 0;
}

.edit-tab-bar {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 45px;
  padding: 10px;
  gap: 10px;
  background: linear-gradient(to bottom, var(--background), var(--sidebar));
  border-bottom: 1px solid var(--border);
}

.badge-viewer {
  display: flex;
  align-items: center;
  min-height: 30px;
  gap: 2px;
  padding: 2px;
  border: 1px solid var(--border);
  background-color: var(--background-secondary);
}

.badge-item {
  padding: 2px;
  border: 1px solid #fff0;

  &:hover {
    border-radius: 2px;
    border: 1px solid var(--border);
    background-color: var(--hover);
  }
}
