.user-info-card {
  z-index: 10000;
  position: absolute;
  background-color: var(--background);
  height: 190px;
  width: 275px;
  display: flex;
  flex-direction: column;
}

.vip-0 {
  background-image: url('/channel/ucard_vip0_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vip-1 {
  background-image: url('/channel/ucard_vip1_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vip-2 {
  background-image: url('/channel/ucard_vip2_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vip-3 {
  background-image: url('/channel/ucard_vip3_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vip-4 {
  background-image: url('/channel/ucard_vip4_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vip-5 {
  background-image: url('/channel/ucard_vip5_bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.body {
  flex: 1;
  height: 164px;
  padding: 11px 12px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  height: 98px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar-picture {
  min-height: 98px;
  min-width: 98px;
  background-image: url('/im/IMLogo.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.user-info-wrapper {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.nickname-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.nickname-row:not(:empty)::before {
  content: '';
  display: block;
  background-image: url('/channel/groupcard.webp');
  background-repeat: no-repeat;
  min-width: 16px;
  min-height: 16px;
  object-fit: cover;
  background-position: 0 0;
  background-size: contain;
  margin-right: 5px;
}

.nickname-text {
  white-space: nowrap;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-username);
}

.info-row {
  display: flex;
  align-items: center;
}

.footer {
  height: 26px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5px;
}

.name-text {
  color: var(--text-username);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vip-boost-text {
  color: var(--text-warning);
}

.permission-wrapper {
  display: flex;
  align-items: center;
}

.permission-text {
  color: #25476a;
}

.permission-text::before {
  content: '[';
}

.permission-text::after {
  content: ']';
}

.saperator {
  margin: 0 5px;
  min-width: 2px;
  min-height: 12px;
  background-image: url('/icon_v_split.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: auto;
}

.contribution-wrapper {
  display: flex;
  align-items: center;
}

.contribution-value {
  color: var(--text-color-quaternary);
}

.xp-wrapper {
  display: flex;
  flex-direction: column;
}

.level-text {
  color: var(--text-color-quaternary);
}

.xp-progress-container {
  background-color: #e5e7eb;
  border-radius: 2.5px;
  height: 5px;
  border: 1px solid #b6b6b6;
}

.xp-progress {
  background-color: #f6b03b;
  border-radius: 2px;
  height: 100%;
}
