.content {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  gap: 5px;
  overflow-y: scroll;
}

.header {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  z-index: 1;
}

.all-cancel-text {
  cursor: pointer;
}

.all-cancel-text:hover {
  color: var(--text-color-quaternary);
}

.all-cancel-text:active {
  color: var(--text-color-senary);
}

.body {
  width: 100%;
  flex: 1;
}

.application {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name-text {
  font-weight: bold;
}

.time-text {
  color: var(--text-color-quaternary);
}

.avatar-picture {
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-image: url('/im/SecretaryLogo.png');
  background-size: cover;
  background-position: center;
  border: 1px solid var(--border);
  margin-right: 15px;
}

.application-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 80px;
  border: 1px solid var(--border);
  background-color: var(--background-secondary);
  padding: 2px;
}

.content-text {
  display: flex;
  color: var(--text-color-quaternary);
  word-break: break-all;
  overflow-y: auto;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: max-content;
  cursor: pointer;
}

.action-buttons .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: var(--background);
  border: 1px solid var(--border);
  height: 23px;
}

.action-buttons .button:last-child {
  border-right: 1px solid var(--border);
}

.action-buttons .button:hover {
  background-color: var(--hover);
  border-color: var(--border);
}

.action-buttons .button:active {
  background-color: var(--selected);
  border-color: var(--border);
}

.direct-message-button {
  height: 28px;
  width: 30px;
  cursor: pointer;
}

.direct-message-icon {
  background-image: url('/icon_notice_chat.png');
  background-size: auto;
  background-position: center;
  background-position: 0 0;
  height: 100%;
  width: 100%;
}

.direct-message-icon:hover {
  background-position: -30px 0;
}

.direct-message-icon:active {
  background-position: -60px 0;
}
