.vip-name-color {
  color: var(--text-vip-name) /* #d16059 */ !important;
}

.vip-name-color.clickable:hover {
  color: var(--text-vip-name-hover) !important;
}

.vip-icon {
  min-height: 14px;
  min-width: 14px;
  margin-right: 2px;
  background-image: url('/channel/vip_icons.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.vip-icon.vip-1 {
  background-position: 0 0;
}

.vip-icon.vip-2 {
  background-position: -14px 0;
}

.vip-icon.vip-3 {
  background-position: -28px 0;
}

.vip-icon.vip-4 {
  background-position: -42px 0;
}

.vip-icon.vip-5 {
  background-position: -56px 0;
}

.vip-icon-big {
  min-height: 14px;
  min-width: 55px;
  margin-right: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.vip-icon-big.vip-1 {
  background-image: url('/channel/icon_vip1.gif');
}

.vip-icon-big.vip-2 {
  background-image: url('/channel/icon_vip2.gif');
}

.vip-icon-big.vip-3 {
  background-image: url('/channel/icon_vip3.gif');
}

.vip-icon-big.vip-4 {
  background-image: url('/channel/icon_vip4.gif');
}

.vip-icon-big.vip-5 {
  background-image: url('/channel/icon_vip5.gif');
}
