header[class*='theme-'] {
  background-color: var(--main-color);
  color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: 0 0px;
  background-size: cover;
}

.theme-1 {
  --main-color: #f6e6d7;
  --secondary-color: #000;
  background-image: url(../../../public/skin/57KJ57SF5Zue5oa2.jpg);
}

.theme-2 {
  --main-color: #1b71ac;
  --secondary-color: #fff;
  background-image: url(../../../public/skin/57SU55yf56ul5bm0.jpg);
}

.theme-3 {
  --main-color: #efd1ab;
  --secondary-color: #000;
  background-image: url(../../../public/skin/5Y+v5oSb6LKT5ZKq.jpg);
}

.theme-4 {
  --main-color: #d4be99;
  --secondary-color: #000;
  background-image: url(../../../public/skin/6YKj5LiA5bm0.jpg);
}

.theme-5 {
  --main-color: #89c68b;
  --secondary-color: #000;
  background-image: url(../../../public/skin/img_greenmood.jpg);
}

.theme-6 {
  --main-color: #edd569;
  --secondary-color: #000;
  background-image: url(../../../public/skin/img_sunflower.jpg);
}

.theme-7 {
  --main-color: #7464ad;
  --secondary-color: #000;
  background-image: url(../../../public/skin/img_sunset.jpg);
}

.theme-8 {
  --main-color: #e3908f;
  --secondary-color: #000;
  background-image: url(../../../public/skin/img_colddrink.jpg);
}

.theme-9 {
  --main-color: #a4cfd5;
  --secondary-color: #000;
  background-image: url(../../../public/skin/img_pebble.jpg);
}

.theme-10 {
  --main-color: #aa7a52;
  --secondary-color: #000;
  background-image: url(../../../public/skin/img_love.jpg);
}

.theme-11 {
  --main-color: #591234;
  --secondary-color: #fff;
  background-image: url(../../../public/skin/img_hamburger.jpg);
}

.theme-12 {
  --main-color: #313131;
  --secondary-color: #fff;
  background-image: url(../../../public/skin/img_coastline.jpg);
}
