.maximized-popup {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary-color, #fff);
  white-space: nowrap;
  background: var(--main-color, #2f3136);
  border-radius: 20px;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.maximized-popup-title-text {
  font-size: 14px;
  font-weight: bold;
}

.maximized-popup-close-btn {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  background-image: url('/Button_Close.webp');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.maximized-popup-close-btn:hover {
  background-position: -20px 0;
}

.maximized-popup-close-btn:active {
  background-position: -40px 0;
}