name: Release Dev Latest

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+-dev.*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            build_name: win-x64
            args: '--win --x64 --publish never -c electron-builder-dev.json'
          - os: windows-latest
            build_name: win-ia32
            args: '--win --ia32 --publish never -c electron-builder-dev.json'

          - os: macos-13
            build_name: mac-x64
            args: '--mac --x64 --publish never -c electron-builder-dev.json'
          - os: macos-14
            build_name: mac-arm64
            args: '--mac --arm64 --publish never -c electron-builder-dev.json'

          - os: ubuntu-latest
            build_name: linux-x64
            args: '--linux --x64 --publish never -c electron-builder-dev.json'

    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        id: py
        with:
          python-version: '3.11'

      - name: Setup Node
        uses: actions/setup-node@v4
        with: { node-version: 20, cache: yarn }

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Make .env file
        run: |
          echo "API_URL=${{ secrets.API_URL }}" > .env
          echo "API_URL=${{ secrets.API_DEV_URL }}" > .env.dev
          echo "WS_URL=${{ secrets.WS_URL }}" > .env
          echo "WS_URL=${{ secrets.WS_DEV_URL }}" > .env.dev
          echo "CROWDIN_DISTRIBUTION_HASH=${{ secrets.CROWDIN_DISTRIBUTION_HASH }}" > .env

      - name: Build electron
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release: false
          build_script_name: build:action
          args: ${{ matrix.args }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.build_name }}
          if-no-files-found: ignore
          path: |
            # Windows
            dist/*Setup.exe
            dist/*Setup.exe.blockmap
            # macOS
            dist/*.dmg
            dist/*.zip
            dist/*.blockmap
            # Linux
            dist/*.AppImage
            # yml files
            dist/**/*dev*.yml

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with: { path: dist }

      - name: Publish rolling prerelease
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          name: Dev Release ${{ github.ref_name }}
          body: |
            ## ⚙️ This Version is a Development Build

            ⚠️ Versions ending with `-dev.xxxxxxxx` are **development builds**.
            These builds may contain **unstable or experimental features**, and unexpected behavior may occur.

            To download the latest **stable version**, please visit:

            > [https://github.com/NerdyHomeReOpen/RiceCall/releases/latest](https://github.com/NerdyHomeReOpen/RiceCall/releases/latest)

            Development builds are intended for testing and early access.
            Use them only if you understand that **stability is not guaranteed**.
          commit: ${{ github.sha }}
          prerelease: true
          allowUpdates: true
          replacesArtifacts: true
          removeArtifacts: true
          omitBodyDuringUpdate: true
          artifacts: 'dist/**'
          token: ${{ secrets.GITHUB_TOKEN }}
